<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.ContentGroupChannelSubscriptionMapper">

	<resultMap id="baseResultMap" type="ContentGroupChannelSubscription" autoMapping="true">
		<id property="id" column="id"/>

		<association property="createdBy" resultMap="createdByUserResultMap" columnPrefix="created_by_user_" />
		<association property="channel" resultMap="channelResultMap" columnPrefix="channel_" />
		<association property="contentGroup" resultMap="contentGroupResultMap" columnPrefix="content_group_" />

	</resultMap>

	<resultMap id="createdByUserResultMap" type="GcUser" autoMapping="true">
		<result property="infoId" column="info_id"/>
		<association columnPrefix="info_" property="info" column="info_id" javaType="GcUserInfo" autoMapping="true">
			<id property="id" column="join_id"/>
			<association columnPrefix="avatarFile_" property="avatarFile" column="avatar_file_id" javaType="SysFile" autoMapping="true" />
		</association>
	</resultMap>

	<resultMap id="channelResultMap" type="PtChannel" autoMapping="true" />

	<resultMap id="contentGroupResultMap" type="GcAccess"  autoMapping="true"/>

    <sql id="createdByUserColumns">
        u.id AS created_by_user_id,
        u.username AS created_by_user_username,
        u.state AS created_by_user_state,
        u.update_time AS created_by_user_update_time,
        u.create_time AS created_by_user_create_time,
        u.info_id AS created_by_user_info_id,
		ui.id AS created_by_user_info_join_id,
		ui.first_name AS created_by_user_info_first_name,
		ui.last_name AS created_by_user_info_last_name,
		ui.gender AS created_by_user_info_gender,
		ui.phone AS created_by_user_info_phone,
		ui.avatar_file_id AS created_by_user_info_avatar_file_id,
        sfui.id AS created_by_user_info_avatarFile_id,
        sfui.name AS created_by_user_info_avatarFile_name,
		sfui.file_url AS created_by_user_info_avatarFile_file_url,
		sfui.save_type AS created_by_user_info_avatarFile_save_type
	</sql>

	<sql id="channelColumns">
        pc.id AS channel_id,
		pc.channel_name AS channel_channel_name,
		pc.channel_img_file_id AS channel_channel_img_file_id,
		pc.desc AS channel_desc,
		pc.create_user_id AS channel_create_user_id,
		pc.visible_flag AS channel_visible_flag,
		pc.category_id AS channel_category_id,
		pc.level AS channel_level,
		pc.fid AS channel_fid,
		pc.order AS channel_order,
		pc.master_id AS channel_masterId,
		pc.channel_slug AS channel_channel_slug,
		pc.create_time AS channel_create_time,
		pc.update_time AS channel_update_time,
		pc.channel_avatar_file_id AS channel_channel_avatar_file_id,
		sfc.file_url AS channel_img_full_file_url
    </sql>

	<sql id="contentGroupColumns">
        a.id AS content_group_id,
        a.master_id AS content_group_master_id,
        a.role_type AS content_group_role_type,
        a.admin_id AS content_group_admin_id,
        a.code AS content_group_code,
        a.group_name AS content_group_group_name
	</sql>

	<select id="findByContentGroupId" resultMap="baseResultMap">
		SELECT
            cgcs.id,
            cgcs.is_subscribed,
            cgcs.created_date,
            cgcs.modified_date,
            <include refid="createdByUserColumns"/>,
            <include refid="channelColumns"/>,
            <include refid="contentGroupColumns"/>
		FROM content_group_channel_subscription cgcs
			JOIN pt_channel pc ON cgcs.channel_id = pc.id
			JOIN gc_access a ON cgcs.content_group_id = a.id
			JOIN gc_user u ON cgcs.created_by_user_id = u.id
			JOIN gc_user_info ui ON u.info_id = ui.id
			LEFT JOIN sys_file sfc ON sfc.id = pc.channel_img_file_id
			LEFT JOIN sys_file sfui ON sfui.id = ui.avatar_file_id
		WHERE cgcs.content_group_id = #{contentGroupId}
		<if test="isSubscribed != null">
			AND cgcs.is_subscribed = #{isSubscribed}
		</if>
	</select>

	<select id="getSubscribedChannelIdsExceptOwned" resultMap="baseResultMap">
		SELECT
            cgcs.id,
            cgcs.is_subscribed,
            cgcs.created_date,
            cgcs.modified_date
		FROM content_group_channel_subscription cgcs
			JOIN pt_channel pc ON cgcs.channel_id = pc.id AND pc.create_user_id != #{ownerId}
		<if test="contentGroupIds != null and contentGroupIds.size > 0">
			WHERE cgcs.content_group_id in
			<foreach collection="contentGroupIds" item="id" index="index" open="(" close=")" separator=",">
				#{id}
			</foreach>
		</if>
	</select>

</mapper>
