<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.CourseEnrollmentMapper">

    <resultMap id="baseResultMap" type="CourseEnrollment">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="courseId" column="course_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="complianceDate" column="compliance_date"/>
        <result property="updatedTime" column="updated_time"/>

        <association property="course" resultMap="courseResultMap" columnPrefix="course_" />
        <association property="user" resultMap="userResultMap" columnPrefix="user_"/>
        <collection property="courseEnrollmentProgress" ofType="com.threeatom.guidecore.entity.CourseEnrollmentProgress" resultMap="courseProgressResultMap" columnPrefix="progress_"/>
    </resultMap>

    <resultMap id="courseProgressResultMap" type="CourseEnrollmentProgress" autoMapping="true">
        <id property="id" column="id"/>
        <result property="enrollmentId" column="enrollment_id"/>
        <result property="percentage" column="percentage"/>
        <result property="secondsViewed" column="seconds_viewed"/>
        <result property="completedSectionsCount" column="completed_sections_count"/>
        <result property="completedTasksCount" column="completed_tasks_count"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <resultMap id="courseResultMap" type="GcSubject" autoMapping="true" >
        <id property="id" column="id" />
        <result property="userId" column="user_id"/>
        <result property="fid" column="fid"/>
        <result property="availableType" column="available_type"/>
        <result property="state" column="state"/>
    </resultMap>

    <resultMap id="userResultMap" type="GcUser">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="state" column="state"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="infoId" column="info_id"/>
        <result property="pid" column="pid"/>
        <result property="powtoonUserId" column="powtoon_user_id"/>

        <association property="info" column="id" javaType="GcUserInfo" columnPrefix="info_">
            <id property="id" column="id"/>
            <result property="lastName" column="last_name"/>
            <result property="firstName" column="first_name"/>
            <result property="avatarFileId" column="avatar_file_id"/>
            <association property="avatarFile" column="avatarFile" javaType="SysFile" columnPrefix="avatar_file_">
                <id property="id" column="id"/>
                <result property="name" column="name"/>
                <result property="fileUrl" column="url"/>
                <result property="saveType" column="save_type"/>
                <result property="uploadUid" column="upload_uid"/>
                <result property="masterId" column="master_id"/>
                <result property="fileTypeIndex" column="save_type"/>
                <result property="updateTime" column="update_time"/>
                <result property="createTime" column="create_time"/>
            </association>
        </association>
    </resultMap>

    <sql id="courseProgressColumns">
        course_progress.id AS progress_id, course_progress.enrollment_id AS progress_enrollment_id,
        course_progress.percentage AS progress_percentage, course_progress.seconds_viewed AS progress_seconds_viewed,
        course_progress.completed_sections_count AS progress_completed_sections_count,
        course_progress.completed_tasks_count AS progress_completed_tasks_count,
        course_progress.created_time AS progress_created_time, course_progress.updated_time AS progress_updated_time
    </sql>

    <sql id="courseEnrollmentColumns">
        course_enrollment.id, course_enrollment.user_id, course_enrollment.course_id, course_enrollment.start_date,
        course_enrollment.end_date, course_enrollment.compliance_date, course_enrollment.updated_time
    </sql>

    <sql id="courseColumns">
        course.id as course_id, course.fid as course_fid, course.available_type as course_available_type, course.state as course_state
    </sql>

    <sql id="userColumns">
        u.id as user_id, u.username as user_username, u.state as user_state, u.update_time as user_update_time,
        u.create_time as user_create_time, u.info_id as user_info_id, u.pid as user_pid, u.powtoon_user_id as user_powtoon_user_id
    </sql>

    <sql id="userInfoColumns">
        user_info.id as user_info_id, user_info.last_name as user_info_last_name, user_info.first_name as user_info_first_name,
        user_info.avatar_file_id as user_info_avatar_file_id, user_info.update_time as user_info_update_time,
        user_info.create_time as user_info_create_time
    </sql>

    <sql id="userAvatarFileColumns">
        user_avatar_file.id as user_info_avatar_file_id, user_avatar_file.name as user_info_avatar_file_name,
        user_avatar_file.file_url as user_info_avatar_file_url, user_avatar_file.save_type as user_info_avatar_file_save_type,
        user_avatar_file.update_time as user_info_avatar_file_update_time, user_avatar_file.create_time as user_info_avatar_file_create_time,
        user_avatar_file.file_type as user_info_avatar_file_type, user_avatar_file.upload_uid as user_info_avatar_file_upload_uid,
        user_avatar_file.master_id as user_info_avatar_file_master_id, user_avatar_file.file_type_index as user_info_avatar_file_file_type_index
    </sql>

    <select id="findCourseEnrollment" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.course_id = #{courseId}
        ORDER BY course_enrollment.start_date DESC
        LIMIT 1
    </select>

    <select id="getCourseEnrollments" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>,
            <include refid="courseColumns"/>,
            <include refid="userColumns"/>,
            <include refid="userInfoColumns"/>,
            <include refid="userAvatarFileColumns"/>
        FROM course_enrollments course_enrollment
            JOIN gc_subject course ON course.id = course_enrollment.course_id
            JOIN gc_user u ON u.id = course_enrollment.user_id
            JOIN gc_user_info user_info ON user_info.id = u.info_id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.course_id = #{courseId}
    </select>

    <select id="getCourseEnrollmentsByUserId" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>,
            <include refid="courseColumns"/>,
            <include refid="userColumns"/>,
            <include refid="userInfoColumns"/>,
            <include refid="userAvatarFileColumns"/>
        FROM course_enrollments course_enrollment
            JOIN gc_subject course ON course.id = course_enrollment.course_id
            JOIN gc_user u ON u.id = course_enrollment.user_id
            JOIN gc_user_info user_info ON user_info.id = u.info_id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.course_id = #{courseId} AND course_enrollment.user_id = #{userId}
            <if test="startDate != null">
                AND course_enrollment.start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND course_enrollment.end_date &lt;= #{endDate}
            </if>
    </select>

    <select id="getCourseEnrollmentsByMasterId" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>,
            <include refid="courseColumns"/>,
            <include refid="userColumns"/>,
            <include refid="userInfoColumns"/>,
            <include refid="userAvatarFileColumns"/>
        FROM course_enrollments course_enrollment
            JOIN gc_subject course ON course_enrollment.course_id = course.id AND course.master_id = #{masterId}
            JOIN gc_user u ON u.id = course_enrollment.user_id
            JOIN gc_user_info user_info ON user_info.id = u.info_id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE 1=1
            <if test="startDate != null">
                AND course_enrollment.start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND course_enrollment.end_date &lt;= #{endDate}
            </if>
    </select>

    <select id="getCourseEnrollmentsByUserAndMasterId" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>,
            <include refid="courseColumns"/>,
            <include refid="userColumns"/>,
            <include refid="userInfoColumns"/>,
            <include refid="userAvatarFileColumns"/>
        FROM course_enrollments course_enrollment
            JOIN gc_subject course ON course_enrollment.course_id = course.id AND course.master_id = #{masterId}
            JOIN gc_user u ON u.id = course_enrollment.user_id
            JOIN gc_user_info user_info ON user_info.id = u.info_id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.user_id = #{userId}
            <if test="startDate != null">
                AND course_enrollment.start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND course_enrollment.end_date &lt;= #{endDate}
            </if>
    </select>

    <select id="getCourseEnrollmentById" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>,
            <include refid="courseColumns"/>,
            <include refid="userColumns"/>,
            <include refid="userInfoColumns"/>,
            <include refid="userAvatarFileColumns"/>
        FROM course_enrollments course_enrollment
            JOIN gc_subject course ON course.id = course_enrollment.course_id
            JOIN gc_user u ON u.id = course_enrollment.user_id
            JOIN gc_user_info user_info ON user_info.id = u.info_id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.id = #{id}
    </select>
</mapper>
