<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.CourseEnrollmentMapper">

    <resultMap id="baseResultMap" type="CourseEnrollment">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="courseId" column="course_id"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="complianceDate" column="compliance_date"/>
        <result property="updatedTime" column="updated_time"/>

        <collection property="courseProgress" ofType="com.threeatom.guidecore.entity.CourseProgress" resultMap="courseProgressResultMap" columnPrefix="progress_"/>
    </resultMap>

    <resultMap id="courseProgressResultMap" type="CourseProgress" autoMapping="true">
        <id property="id" column="id"/>
        <result property="enrollmentId" column="enrollment_id"/>
        <result property="percentage" column="percentage"/>
        <result property="secondsViewed" column="seconds_viewed"/>
        <result property="completedSectionsCount" column="completed_sections_count"/>
        <result property="completedTasksCount" column="completed_tasks_count"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <sql id="courseProgressColumns">
        course_progress.id AS progress_id, course_progress.enrollment_id AS progress_enrollment_id,
        course_progress.percentage AS progress_percentage, course_progress.seconds_viewed AS progress_seconds_viewed,
        course_progress.completed_sections_count AS progress_completed_sections_count,
        course_progress.completed_tasks_count AS progress_completed_tasks_count,
        course_progress.created_time AS progress_created_time, course_progress.updated_time AS progress_updated_time
    </sql>

    <sql id="courseEnrollmentColumns">
        course_enrollment.id, course_enrollment.user_id, course_enrollment.course_id, course_enrollment.start_date,
        course_enrollment.end_date, course_enrollment.compliance_date, course_enrollment.updated_time
    </sql>

    <select id="findCourseEnrollment" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.course_id = #{courseId}
        ORDER BY course_enrollment.start_date DESC
        LIMIT 1
    </select>

    <select id="getCourseEnrollments" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.course_id = #{courseId}
    </select>

    <select id="getCourseEnrollmentsByUserId" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.course_id = #{courseId} AND course_enrollment.user_id = #{userId}
            <if test="startDate != null">
                AND course_enrollment.start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND course_enrollment.end_date &lt;= #{endDate}
            </if>
    </select>

    <select id="getCourseEnrollmentsByMasterId" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
            JOIN gc_subject course ON course_enrollment.course_id = course.id AND course.master_id = #{masterId}
        WHERE 1=1
            <if test="startDate != null">
                AND course_enrollment.start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND course_enrollment.end_date &lt;= #{endDate}
            </if>
    </select>

    <select id="getCourseEnrollmentsByUserAndMasterId" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
            JOIN gc_subject course ON course_enrollment.course_id = course.id AND course.master_id = #{masterId}
        WHERE course_enrollment.user_id = #{userId}
            <if test="startDate != null">
                AND course_enrollment.start_date >= #{startDate}
            </if>
            <if test="endDate != null">
                AND course_enrollment.end_date &lt;= #{endDate}
            </if>
    </select>

    <select id="getCourseEnrollmentById" resultMap="baseResultMap">
        SELECT
            <include refid="courseProgressColumns"/>,
            <include refid="courseEnrollmentColumns"/>
        FROM course_enrollments course_enrollment
            LEFT JOIN courses_progress course_progress ON course_enrollment.id = course_progress.enrollment_id
        WHERE course_enrollment.id = #{id}
    </select>
</mapper>
