<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcSubjectAssociationMapper">

	<delete id="deleteGcSubjectAssociation" parameterType="Integer">
		delete from gc_subject_association where
		master_id=#{masterId} and subject_id = #{subjectId}
	</delete>
	
	<update id="updateOrder">
	    update gc_subject_association
	    set order = #{order} where master_id = #{masterId} and subject_id = #{subjectId}
	</update>

    <select id="selectSubsByMasterId" parameterType="Integer" resultType="com.threeatom.guidecore.entity.GcSubjectAssociation">
		select * from gc_subject_association where
		master_id=#{masterId}
	</select>

    <select id="selectPackageStatus" resultType="java.lang.Integer">
        select COALESCE(status, 0)
        from gc_subject_tag_association
        where master_id = #{masterId}
        and tag_id is null
        and "order" is null
        and  package_status = 0
    </select>

	<update id="bulkUpdatOrderByMasterIdAndSubjetId" parameterType="list">
        update gc_subject_association
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="'order' =case" suffix="end,">
                <foreach collection="list" item="gcSubjectAssociation" index="index">
                    <if test="gcSubjectAssociation.order!=null">
                        when master_id=#{gcSubjectAssociation.masterId} and subject_id=#{gcSubjectAssociation.subjectId}
                         then #{gcSubjectAssociation.order}
                    </if>
                </foreach>
            </trim>
        </trim>
        where master_id in
        <foreach collection="list" item="gcSubjectAssociation" index="index" separator="," open="(" close=")">
            #{gcSubjectAssociation.masterId}
        </foreach>
        and subject_id in 
         <foreach collection="list" item="gcSubjectAssociation" index="index" separator="," open="(" close=")">
            #{gcSubjectAssociation.subjectId}
        </foreach>
    </update>
</mapper>
