<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcSubjectCompleteMapper">

    <resultMap id="baseResultMap" type="GcSubjectComplete">
        <id property="id" column="id"/>
        <result property="masterId" column="master_id"  />
        <result property="subjectId" column="subject_id"/>
        <result property="subjectState" column="subject_state"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="inProgress" column="in_progress"/>
    </resultMap>

    <update id="updateStateByVideoId">
        WITH joined_tables AS (
            SELECT com.id
            FROM gc_subject_complete com
                     LEFT JOIN gc_subject s ON s.id = com.subject_id
                     LEFT JOIN gc_subject s2 ON s2.fid = s.id
                     LEFT JOIN gc_video v ON v.sub_id = s2.id
            WHERE v.id = #{videoId} AND com.master_id = #{masterId}
        )
        UPDATE gc_subject_complete
        SET subject_state = 2
            FROM joined_tables
        WHERE gc_subject_complete.id = joined_tables.id
    </update>

    <select id="getSubjectCompleteInfo" resultMap="baseResultMap">
        select * from gc_subject_complete
        where user_id = #{userId}
        and master_id = #{masterId}
        and subject_id = #{subjectId}
        limit 1
    </select>

    <select id="selectBySubjectId" resultMap="baseResultMap">
        select * from gc_subject_complete
        where master_id = #{masterId}
        and subject_id = #{subjectId}
    </select>
</mapper>