<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcUserVideoPlaysNodeMapper">
  <sql id="baseColumn">
       start_time   ,  end_time   ,  videoplay_id   ,  id
  </sql>

    <select id="getVideoPlayNodeByNodeId" resultType="GcUserVideoPlaysNode">
        SELECT
            vpn.id,vpn.start_time,vpn.end_time,vpn.videoplay_id
        FROM
            gc_user_video_plays_node vpn
        LEFT JOIN
            gc_user_video_play vp on vpn.videoplay_id = vp.id
        where
            vpn.id = #{nodeId}
    </select>

    <select id="getVideoPlayNodes" resultType="GcUserVideoPlaysNode">
        SELECT
            <include refid="baseColumn" />
        FROM
            gc_user_video_plays_node
        WHERE
            videoplay_id = #{videoplayId}
        ORDER BY start_time
    </select>

    <select id="getVideoPlayNodesByUserId" resultType="GcUserVideoPlaysNode">
        SELECT
            uvpn.start_time   ,  uvpn.end_time   ,  uvpn.videoplay_id   ,  uvpn.id
        FROM
            gc_user_video_plays_node uvpn
            LEFT JOIN gc_user_video_play uvp on uvp.id = uvpn. videoplay_id
        WHERE
          uvp.user_id = #{userId}
          and uvp.master_id = #{masterId}
    </select>

    <select id="getVideoPlayNodesByUserIds" resultType="com.threeatom.guidecore.entity.GcUserVideoPlaysNode">
        SELECT
            uvpn.start_time   ,  uvpn.end_time   ,  uvpn.videoplay_id   ,  uvpn.id,
            uvp.user_id as userId
        FROM
            gc_user_video_plays_node uvpn
                LEFT JOIN gc_user_video_play uvp on uvp.id = uvpn. videoplay_id
        WHERE
            uvp.user_id in
        <foreach collection="userIds" item="userId" index="index" separator="," open="(" close=")">
            #{userId}
        </foreach>
        <if test="videoIds!=null and videoIds.size!=0">
            and
            uvp.video_id in
        <foreach item="videoId" collection="videoIds" index="index" open="(" separator="," close=")">
            #{videoId}
        </foreach>
        </if>
          and uvp.master_id = #{masterId}
    </select>

    <select id="getVideoNodeByPlayId" resultType="java.lang.Integer">
        SELECT id from gc_user_video_play where video_id in
        <foreach collection="videoIds" item="videoId" separator="," open="(" close=")">
            #{videoId}
        </foreach>
    </select>

    <select id="getPlayNodeByPlayId" resultType="GcUserVideoPlaysNode">
        SELECT n.*,p.video_id as videoId from gc_user_video_plays_node n
        left join gc_user_video_play p on p.id=n.videoplay_id
        where videoplay_id in
        <foreach collection="playIds" item="play" separator="," open="(" close=")">
            #{play}
        </foreach>
    </select>

    <select id="getLastWatchDetail" resultType="GcUserVideoPlaysNode">
        select * from  gc_user_video_plays_node n left join gc_user_video_play p on
         p.id=n.videoplay_id where  p.user_id=#{userId} and p.master_id=#{masterId} and p.video_id=#{vid}
         order by n.update_time asc limit 1
    </select>




    <select id="getVideoPlayNodesByVideoId" resultType="GcUserVideoPlaysNode">
        SELECT
            uvpn.start_time   ,  uvpn.end_time   ,  uvpn.videoplay_id   ,  uvpn.id
        FROM
        gc_user_video_plays_node uvpn
        LEFT JOIN gc_user_video_play uvp on uvp.id = uvpn. videoplay_id
        LEFT JOIN gc_video v on uvp.video_id = v.id
        WHERE
        uvp.video_id = #{vid}
          and uvp.user_id = #{userId}
          and uvp.master_id = #{masterId}
        ORDER BY uvpn.start_time
    </select>

</mapper>