<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcUserAccessPermissionMapper">

	<resultMap id="baseResultMap" type="GcUserAccessPermission">
   	 <id property="id" column="id"/>
	 <result property="userAccessId" column="user_access_id"  />
	 <result property="subPermission" column="sub_permission" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler" />
	 <result property="updateTime" column="update_time"  />
	 <result property="createTime" column="create_time"  />
     <result property="shortTermPermission" column="short_term_permission"  typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler" />
     <result property="mustSubjectJson" column="must_subject_json" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler" />
     <result property="maySubjectJson" column="may_subject_json" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler"/>
     <result property="channelPermission" column="channel_permission" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler" />
     <result property="subscribePermission" column="subscribe_permission" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler" />
    </resultMap>


 	<sql id="baseColumn">
	   a.id, a.user_access_id, a.sub_permission, a.update_time, a.create_time,a.short_term_permission,a.must_subject_json,a.may_subject_json
	</sql>

    <select id="listContainsSubPremission" resultMap="baseResultMap" >
        SELECT
        <include refid="baseColumn" />
        FROM gc_user_access_permission a
        LEFT JOIN gc_user_access ua ON ua.id = a.user_access_id
        WHERE ua.master_id=#{masterId} AND #{subjectId} = ANY(ARRAY(SELECT jsonb_array_elements_text(a.sub_permission)))
    </select>

    <select id="getPermissionByUid" resultMap="baseResultMap" >
        SELECT
        <include refid="baseColumn" />
        FROM gc_user_access_permission a
        left join gc_user_access ua on ua.id = a.user_access_id
        where ua.user_id = #{userId} and ua.master_id = #{masterId}
    </select>


    <select id="updateGcUserAccessPermissions" resultType="Integer">
        DROP TABLE IF EXISTS temp_update_permission;

        CREATE TEMPORARY TABLE temp_update_permission (
        id SERIAL PRIMARY KEY,
        sub_per text,
        must_subject_json text,
        may_subject_json text
        );

        INSERT INTO temp_update_permission(id,sub_per,must_subject_json,may_subject_json)
        VALUES
        <foreach collection="preList" item="item" index="index" separator=",">
            (#{item.id},#{item.subPermission,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler},#{item.mustSubjectJson,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler},
            #{item.maySubjectJson,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler})
        </foreach>;

        UPDATE gc_user_access_permission uap
        SET sub_permission = temp.sub_per::json,
        must_subject_json = temp.must_subject_json::json,
        may_subject_json = temp.may_subject_json::json
        FROM temp_update_permission temp
        WHERE temp.id = uap.id;

        SELECT COUNT(*) FROM gc_user_access_permission;
    </select>

    <select id="deleteGroupByGroupId" resultType="integer">
        DELETE FROM gc_user_access_permission WHERE group_id = #{groupId}
    </select>

    <select id="selectAllUsersInPortal" resultMap="baseResultMap">
        select * from gc_user_access_permission per
        left join gc_user_access ua on ua.id = per.user_access_id
        where ua.master_id = #{masterId}
    </select>


    <select id="getPermissionId" resultType="integer">
        SELECT
        a.id
        FROM gc_user_access_permission a
        left join gc_user_access ua on ua.id = a.user_access_id
        where ua.user_id = #{userId} and ua.master_id = #{portalId}
    </select>

    <insert id="saveUserAccessPermissionList">
        insert into gc_user_access_permission
        (user_access_id , sub_permission)
        values
        <foreach collection="userAccessPermissionList" item="item" separator=",">
            (#{item.userAccessId},
            #{item.subPermission,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler})
        </foreach>
        ON CONFLICT (user_access_id) DO NOTHING
    </insert>

    <insert id="insertUserPermission">
        insert into gc_user_access_permission (user_access_id,sub_permission,channel_permission,must_subject_json,may_subject_json,subscribe_permission)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userAccessId},#{item.subPermission,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.channelPermission,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.mustSubjectJson,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.maySubjectJson,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.subscribePermission,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler})
        </foreach>
        ON CONFLICT (user_access_id) DO UPDATE SET
        user_access_id = EXCLUDED.user_access_id
    </insert>

    <insert id="removeUserPermission">
        insert into gc_user_access_permission (user_access_id,sub_permission,channel_permission,must_subject_json,may_subject_json,subscribe_permission)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userAccessId},#{item.subPermission,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.channelPermission,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.mustSubjectJson,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.maySubjectJson,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            ,#{item.subscribePermission,jdbcType=OTHER,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
            )
        </foreach>
        ON CONFLICT (user_access_id) DO UPDATE SET
        sub_permission = EXCLUDED.sub_permission,
        channel_permission = EXCLUDED.channel_permission,
        must_subject_json = EXCLUDED.must_subject_json,
        may_subject_json = EXCLUDED.may_subject_json,
        subscribe_permission = EXCLUDED.subscribe_permission
    </insert>

    <update id="updatePermissionsByUserAccessIds">
        update gc_user_access_permission
        set sub_permission = #{subPermission,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler}
        WHERE user_access_id IN(
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>)
    </update>

    <update id="updateGcUserAccessPermissionsChannel">
        DROP TABLE IF EXISTS temp_update_permission;

        CREATE TEMPORARY TABLE temp_update_permission (
        id SERIAL PRIMARY KEY,
        sub_per text,
        channel_permission text,
        subscribe_permission text
        );

        INSERT INTO temp_update_permission(id,sub_per,channel_permission,subscribe_permission)
        VALUES
        <foreach collection="preList" item="item" index="index" separator=",">
            (#{item.id},#{item.subPermission,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler},
            #{item.channelPermission,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler},
            #{item.subscribePermission,typeHandler=com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler})
        </foreach>;

        UPDATE gc_user_access_permission uap
        SET channel_permission = temp.channel_permission::json,
        subscribe_permission = temp.subscribe_permission::json
        FROM temp_update_permission temp
        WHERE temp.id = uap.id;

        SELECT COUNT(*) FROM gc_user_access_permission;
    </update>

    <update id="updatePermissionData">
        UPDATE gc_user_access_permission p
        SET sub_permission = ac.subject_json,
        channel_permission = ac.channel_json,
        must_subject_json = ac.must_subject_json,
        may_subject_json = ac.may_subject_json,
        subscribe_permission = ac.subscribe_json
        FROM gc_user_access uac
        LEFT JOIN gc_access ac ON ac.id = uac.access_id
        WHERE uac.id = p.user_access_id
        <if test="null!=masterId">
            AND ac.master_id = #{masterId}
        </if>
        <if test="null!=userId">
            AND uac.user_id = #{userId}
        </if>
    </update>

    <select id="getPermissionByUserAccessId" resultMap="baseResultMap">
        SELECT *
        FROM gc_user_access_permission
        where user_access_id = #{userAccessId}
    </select>

    <select id="getUserNumByPortal" resultType="integer">
        SELECT count(a.id)
        FROM (
                 SELECT acc.*, per.sub_permission, count(acc.id)
                 FROM gc_user_access acc
                          LEFT JOIN gc_user_access_permission per ON per.user_access_id = acc.id
                          LEFT JOIN gc_subject s ON per.sub_permission::jsonb @> to_jsonb(s.id::integer)
                 WHERE s.master_id = #{masterId}
                 GROUP BY acc.id
             ) a
    </select>

    <select id="userListContainSub" resultType="map">
        SELECT per.user_access_id, u.username, info.first_name, info.last_name
        FROM gc_user_access_permission per
                 LEFT JOIN gc_user_access access ON access.id = per.user_access_id
                 LEFT JOIN gc_user u ON u.id = access.user_id
                 LEFT JOIN gc_user_info info ON info.id = u.info_id
        WHERE access.master_id = #{masterId} AND per.sub_permission::jsonb @> to_jsonb(#{subId}::integer)
    </select>

    <select id="getPermissionByUidList"  resultMap="baseResultMap">
        SELECT
        <include refid="baseColumn" />
        FROM gc_user_access_permission a
        left join gc_user_access ua on ua.id = a.user_access_id
        where ua.user_id = #{userId} and ua.master_id = #{masterId}
    </select>

    <select id="getContainsSubjectAccessPermissionList" resultMap="baseResultMap">
        SELECT a.*
        FROM gc_user_access_permission a
        WHERE (a.sub_permission::jsonb @> to_jsonb(#{ptId}::text) OR a.must_subject_json::jsonb @> to_jsonb(#{ptId}::integer) OR a.may_subject_json::jsonb @> to_jsonb(#{ptId}::integer))
    </select>

    <select id="getGroupMemberPermissionByUidList" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumn" />
        FROM gc_user_access_permission a
        left join gc_user_access ua on ua.id = a.user_access_id
        where ua.user_id = #{userId} and ua.master_id = #{masterId}
        and ua.role_json::text like concat('%',#{roleName},'%')
    </select>

    <select id="getGroupMemberByUidList" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumn" />
        FROM gc_user_access_permission a
        left join gc_user_access ua on ua.id = a.user_access_id
        where ua.user_id = #{userId} and ua.master_id = #{masterId}
        and ua.role_json::text like concat('%','groupMember','%')
    </select>

</mapper>
