<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.threeatom.guidecore.mapper.GcUserVideoActionMapper">

	<resultMap id="subjectUserStarAvg" type="java.util.Map">
		<!-- 不可缺少 -->
		<result column="SUBJECT_ID" property="age"></result>
		<collection property="person" javaType="arrayList"
			ofType="com.threeatom.guidecore.entity.GcUserVideoAction">
			<result property="subjectStarUsers"
				column="subject_star_users"></result>
			<result property="subjectStarAvg" column="subject_star_avg"></result>
		</collection>
	</resultMap>

	<resultMap id="baseaResultMap" type="com.threeatom.guidecore.entity.GcUserVideoAction">
		<id property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="starValue" column="starValue" />
		<result property="subjectId" column="subId" />
		<result property="reviewTitle" column="reviewTitle"/>
		<result property="reviewContent" column="reviewContent" />
		<result property="userFirstName" column="reviewUserFirstName" />
		<result property="userLastName" column="reviewUserLastName" />
		<result property="videoId" column="videoId" />
		<result property="videoLikeNum" column="videoLikeNum" />
	</resultMap>

	<select id="countTypeRateForVideo" resultType="map">
		select value, count(1) as count
		from gc_user_video_action
		where content_id=#{contentId} and type=#{type} group by value
	</select>

	<select id="getVideoActionBySubject"
		parameterType="java.util.Map"
		resultType="com.threeatom.guidecore.entity.GcUserVideoAction">
		SELECT
		S.ID AS "subjectId",UVA.content_id as "contentId", UVA.TYPE as "type",
		UVA.STAR_VALUE as "starValue", UVA.VALUE as "value"
		FROM
		GC_SUBJECT S
		LEFT JOIN GC_SUBJECT S0 ON S0.FID=S.ID
		LEFT JOIN GC_VIDEO V ON
		V.SUB_ID = S0.ID
		LEFT JOIN GC_USER_VIDEO_ACTION UVA ON UVA.content_id = V.ID
		<where>
			<if test="type != null">
				AND UVA.TYPE = #{type}
			</if>
			<if test="contentIds != null">
				AND UVA.content_id IN
				<foreach item="contentId" collection="contentIds" open="("
					separator="," close=")">
					#{contentId}
				</foreach>
			</if>
		</where>
	</select>


	<!-- 统计课程下的打星总人数和平均值 -->
	<select id="getSubjectUserStar" parameterType="java.util.Map"
		resultType="com.threeatom.guidecore.entity.GcUserVideoAction">
		SELECT
		S.ID AS "subjectId",COUNT(uva."user_id") as "subjectStarUsers",
		ROUND(AVG(UVA.STAR_VALUE)) as "subjectStarAvg"
		FROM
		GC_SUBJECT S
		LEFT JOIN GC_SUBJECT S0 ON S0.FID=S.ID
		LEFT JOIN GC_VIDEO V ON
		V.SUB_ID = S0.ID
		LEFT JOIN GC_USER_VIDEO_ACTION UVA ON UVA.content_id = V.ID
		WHERE UVA.type=3
		<if test="subjectIds != null and subjectIds.size !=0">
			AND S.ID IN
			<foreach item="id" collection="subjectIds" open="("
				separator="," close=")">
				#{id}
			</foreach>
		</if>
		GROUP BY s.id
	</select>

	<!-- 统计课程下的打星总人数和平均值 -->
	<select id="gvggetSubjectUserStar" parameterType="java.util.Map"
			resultType="com.threeatom.guidecore.entity.GcUserVideoAction">
		SELECT
		UVA.sub_id AS "subjectId",COUNT(uva."user_id") as "subjectStarUsers",
		ROUND(AVG(UVA.STAR_VALUE)) as "subjectStarAvg"
		FROM
	    GC_USER_VIDEO_ACTION UVA
		left join gc_subject s on s.id=UVA.sub_id
		WHERE UVA.type=4 and s.id in
		<foreach item="id" collection="subjectIds" open="(" separator="," close=")">
			#{id}
		</foreach>
		GROUP BY s.id, UVA.sub_id
	</select>

	<select id="countLikeForVideo" resultType="Integer">
		select count(1) from
		gc_user_video_action where type =1 and content_id = #{videoId}
	</select>

	<select id="countLikeForVideos" resultMap="baseaResultMap">
		select count(1) as videoLikeNum,content_id as contentId from
			gc_user_video_action where type =1 and content_id in
		<foreach item="videoId" collection="videoIds" open="("
				 separator="," close=")">
			#{videoId}
		</foreach>
          group by content_id
	</select>

	<select id="countLikeForFiles" resultType="com.threeatom.guidecore.entity.GcUserVideoAction">
		select count(1) as videoLikeNum, content_id as contentId
		from gc_user_video_action where type = 1 and content_id in
		<foreach item="contentId" collection="contentIds" open="("
				 separator="," close=")">
			#{contentId}
		</foreach>
		group by content_id
	</select>

	<select id="countLikeForFile" resultType="java.lang.Integer">
		select count(1) from
			gc_user_video_action where type = 1 and content_id = #{contentId}
	</select>

</mapper>
