<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcUserSaveContentMapper">
    <select id="getTwoSubIdList" resultType="java.lang.Integer">
        select s.id
        from gc_user_save_content u
        left join gc_subject s on s.id = u.sub_id
        <where>
            1=1
            <if test="entity.userId != null">
                and u.user_id = #{entity.userId}
            </if>
            <if test="entity.masterId != null">
                and u.master_id = #{entity.masterId}
            </if>
            <if test="entity.folderId != null">
                and u.folder_id = #{entity.folderId}
            </if>
                and s.fid is not null
                and u.sub_id is not null
        </where>
    </select>
    <select id="getOneSubIdList" resultType="java.lang.Integer">
        select s.id
        from gc_user_save_content u
        left join gc_subject s on s.id = u.sub_id
        <where>
            1=1
            <if test="entity.userId != null">
                and u.user_id = #{entity.userId}
            </if>
            <if test="entity.masterId != null">
                and u.master_id = #{entity.masterId}
            </if>
            <if test="entity.folderId != null">
                and u.folder_id = #{entity.folderId}
            </if>
            and s.fid is null
            and u.sub_id is not null
        </where>
    </select>
    <select id="getVideoIdList" resultType="java.lang.Integer">
        select file_id from gc_user_save_content
        <where>
        1=1
            /*video_id is not null*/
            <if test="entity.folderId != null">
                and folder_id = #{entity.folderId}
            </if>
            <if test="entity.masterId != null">
                and master_id = #{entity.masterId}
            </if>
        </where>
        order by create_time asc
    </select>

    <select id="deleteList" resultType="java.lang.Integer">
        select id from gc_user_save_content where video_id = #{videoId}
        <if test="foderIds!=null and foderIds.size !=0">
        and folder_id in
        <foreach item="folderId" index="index" collection="foderIds"  open="(" separator="," close=")">
            #{folderId}
        </foreach>
        </if>
    </select>

    <select id="selectFolderIdByVideoId" resultType="java.lang.Integer">
        select folder_id from gc_user_save_content where video_id = #{videoId} and master_id = #{masterId}
    </select>
    <select id="selectFolderIdByFileId" resultType="java.lang.Integer">
        select folder_id from gc_user_save_content where file_id = #{fileId} and master_id = #{masterId}
    </select>

    <select id="deleteFileList" resultType="java.lang.Integer">
        select id from gc_user_save_content where file_id = #{fileId}
        <if test="foderIds!=null and foderIds.size !=0">
            and folder_id in
            <foreach item="folderId" index="index" collection="foderIds"  open="(" separator="," close=")">
                #{folderId}
            </foreach>
        </if>
    </select>
</mapper>
