<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.threeatom.guidecore.mapper.GcUserSaveContentMapper">
    <select id="getTwoSubIdList" resultType="java.lang.Integer">
        select s.id
        from gc_user_save_content u
        left join gc_subject s on s.id = u.sub_id
        <where>
            1=1
            <if test="entity.userId != null">
                and u.user_id = #{entity.userId}
            </if>
            <if test="entity.masterId != null">
                and u.master_id = #{entity.masterId}
            </if>
            <if test="entity.folderId != null">
                and u.folder_id = #{entity.folderId}
            </if>
                and s.fid is not null
                and u.sub_id is not null
        </where>
    </select>

    <select id="getOneSubIdList" resultType="java.lang.Integer">
        select s.id
        from gc_user_save_content u
        left join gc_subject s on s.id = u.sub_id
        <where>
            1=1
            <if test="entity.userId != null">
                and u.user_id = #{entity.userId}
            </if>
            <if test="entity.masterId != null">
                and u.master_id = #{entity.masterId}
            </if>
            <if test="entity.folderId != null">
                and u.folder_id = #{entity.folderId}
            </if>
            and s.fid is null
            and u.sub_id is not null
        </where>
    </select>

    <select id="getVideoIdList" resultType="java.lang.Integer">
        select gv.file_id
        from gc_user_save_content gusc
            JOIN gc_video gv ON gv.id = gusc.content_id
        <where>
        1=1
            <if test="entity.folderId != null">
                and gusc.folder_id = #{entity.folderId}
            </if>
            <if test="entity.masterId != null">
                and gusc.master_id = #{entity.masterId}
            </if>
        </where>
        order by gusc.create_time asc
    </select>

    <select id="deleteList" resultType="java.lang.Integer">
        select gusc.id
        from gc_user_save_content gusc
            JOIN  course_content cc ON cc.content_id = gusc.content_id
            JOIN gc_video gv ON gv.id = cc.content_id AND gv.id = #{videoId}
        <if test="foderIds!=null and foderIds.size !=0">
        and folder_id in
        <foreach item="folderId" index="index" collection="foderIds"  open="(" separator="," close=")">
            #{folderId}
        </foreach>
        </if>
    </select>

    <select id="selectFolderIdByVideoId" resultType="java.lang.Integer">
        select gusc.folder_id
        from gc_user_save_content gusc
             JOIN  course_content cc ON cc.content_id = gusc.content_id
             JOIN gc_video gv ON gv.id = cc.content_id AND gv.id = #{videoId}
        where master_id = #{masterId}
    </select>

    <select id="selectFolderIdByFileId" resultType="java.lang.Integer">
        select gusc.folder_id
        from gc_user_save_content gusc
            JOIN gc_video gv ON gv.id = gusc.content_id AND gv.file_id = #{fileId}
        where gusc.master_id = #{masterId}
    </select>

    <select id="deleteFileList" resultType="java.lang.Integer">
        select gusc.id
        from gc_user_save_content gusc
            JOIN gc_video gv ON gv.id = gusc.content_id
        where gv.file_id = #{fileId}
        <if test="foderIds!=null and foderIds.size !=0">
            and gusc.folder_id in
            <foreach item="folderId" index="index" collection="foderIds"  open="(" separator="," close=")">
                #{folderId}
            </foreach>
        </if>
    </select>
</mapper>
