<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcUserMapper">

    <resultMap id="baseResultMap" type="GcUser">
        <id property="id" column="id"/>
        <result property="sysId" column="sys_id"/>
        <result property="username" column="username"/>
        <result property="state" column="state"/>
        <result property="password" column="password"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="infoId" column="info_id"/>
        <result property="pid" column="pid"/>
        <result property="groupName" column="group_name"/>
        <result property="logInTime" column="log_in_time"/>
        <result property="lastName" column="lastName"/>
        <result property="firstName" column="firstName"/>
        <result property="powtoonUserId" column="powtoon_user_id"/>

        <association property="info" column="id" javaType="GcUserInfo">
            <id property="id" column="info_id"/>
            <result property="lastName" column="lastName"/>
            <result property="firstName" column="firstName"/>
            <result property="gender" column="gender"/>
            <result property="phone" column="phone"/>
            <result property="avatarFileId" column="avatarFileId"/>
            <association property="avatarFile" column="avatarFile" javaType="SysFile">
                <id property="id" column="f_id"/>
                <result property="name" column="f_name"/>
                <result property="fileUrl" column="f_file_url"/>
                <result property="saveType" column="f_save_type"/>
            </association>
        </association>

        <association property="userMessage" column="userMessage" javaType="GcUserMessage">
            <id property="id" column="mid"/>
            <result property="message" column="m_message"/>
            <result property="createTime" column="m_create_time"/>
            <result property="newMesCount" column="newMesCount"/>
        </association>


    </resultMap>

    <resultMap id="userCommonInfoMap" type="com.threeatom.guidecore.controller.user.vo.UserCommonInfo">
        <result property="userId" column="userId"/>
        <result property="userAccessId" column="userAccessId"/>
        <result property="username" column="username"/>
        <result property="lastName" column="lastName"/>
        <result property="firstName" column="firstName"/>
        <result property="lastLogin" column="lastLogin"/>

        <association property="avatarFile" column="avatarFile" javaType="SysFile">
            <id property="id" column="f_id"/>
            <result property="name" column="f_name"/>
            <result property="fileUrl" column="f_file_url"/>
            <result property="saveType" column="f_save_type"/>
        </association>
    </resultMap>

    <resultMap id="StudentBehaviorDataExcel" type="com.threeatom.guidecore.excel.vo.StudentBehaviorDataExcel">
        <result property="userId" column="user_id"/>
        <result property="lastName" column="lastName"/>
        <result property="firstName" column="firstName"/>
        <result property="userName" column="user_name"/>
        <result property="watchedNum" column="watched_num"/>
        <result property="allPlayTime" column="all_play_time"/>
        <result property="answerNum" column="answer_num"/>
        <result property="subPermission" column="sub_permission" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler"/>
    </resultMap>

    <sql id="baseColumn">
        u.id , u.sys_id,u.pid, u.state, u.username, u.powtoon_user_id, ui.avatar_file_id as avatarFileId ,u.update_time, u.create_time
    </sql>

    <sql id="infoBaseColumn">
        ,ui.id as info_id,ui.first_name as firstName ,ui.last_name as lastName, ui.gender as gender, ui.phone as phone
    </sql>

    <select id="getGcUserByUserId" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        , u.password,f.id as f_id,f.name as f_name,f.file_url as f_file_url,f.save_type as f_save_type
        <include refid="infoBaseColumn"/>
        from
        gc_user u
        left join gc_user_info ui on ui.id=u.info_id
        left join sys_file f on ui.avatar_file_id=f.id
        where u.id=#{userId}
    </select>

    <select id="getUserByUserAccessIds" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumn"/>
        ,f.id as f_id,f.name as f_name,f.file_url as f_file_url,f.save_type as f_save_type
        <include refid="infoBaseColumn"/>
        FROM
        gc_user u
        LEFT JOIN gc_user_info ui on ui.id=u.info_id
        LEFT JOIN sys_file AS f ON ui.avatar_file_id=f.id
        LEFT JOIN gc_user_access AS ua ON ua.user_id = u.id
        WHERE ua.id IN
        <foreach collection="userAccessIds" item="userAccessId" index="index" open="(" close=")" separator=",">
            #{userAccessId}
        </foreach>
    </select>

    <!-- 统计看过视频的用户人数 -->
    <select id="getWatchedUserNum" resultType="com.threeatom.guidecore.entity.GcUser">
        select s0.id as "subjectId",count(DISTINCT p.user_id) as "subjectUsers"  from gc_user u
        LEFT JOIN gc_user_video_play p on p.user_id=u.id
        LEFT JOIN gc_video v on v.id = p.video_id
        LEFT JOIN gc_subject s1 on s1.id = v.sub_id
        LEFT JOIN gc_subject s0 on s0.id = s1.fid
        where 1=1
        <if test="null!=subjectIds and subjectIds.size !=0">
        and s0.id in
        <foreach item="subjectId" collection="subjectIds" open="(" separator="," close=")">
            #{subjectId}
        </foreach>
        </if>
        and p.master_id=#{masterId}
        GROUP BY s0.id

    </select>

    <select id="getTeamUser" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        ,f.id as f_id,f.name as f_name,f.file_url as f_file_url,f.save_type as f_save_type
        <include refid="infoBaseColumn"/>
        ,max(ext.log_in_time) log_in_time,ac.group_name
        from  "gc_user" u
        left join gc_user_info ui on  u.info_id = ui.id
        left join gc_user_access uac on uac.user_id = u.id
        left join sys_file f on f.id = ui.avatar_file_id
        left join gc_user_access_ext ext on ext.user_access_id = uac.id
        left join gc_access ac on ac.id = uac.access_id
        where uac.access_id = #{params.accessId}
        and uac.master_id = #{params.masterId}
        <if test="params.name != null ">
        and concat(ui.last_name,first_name) like concat('%',#{params.name},'%')
        </if>
        GROUP BY uac.id, u.id, ui.id, f.id, ac.id
    </select>
</mapper>
