<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcVideoMapper">

    <resultMap id="baseResultMap" type="GcVideo">
	    <id property="id" column="id"/>
	    <result property="videoName" column="video_name"  />
	     <result property="videoNameIndex" column="video_name_index" />
	    <result property="videoDesc" column="video_desc"  />
	    <result property="fileId" column="file_id"  />
	    <result property="subId" column="sub_id"/>	 
	    <result property="sourceUrl" column="source_url"/>
	    <result property="videoSource" column="video_source"/>        
	    <result property="order" column="order"/>
	    <result property="updateTime" column="update_time" />
	    <result property="createTime" column="create_time" />
		<result property="commentNums" column="comment_nums"/>
		<result property="topSubId" column="top_sub_id" />
        <result property="subjectName" column="subjectName" />
        <result property="topicName" column="topicName" />
        <result property="subId0" column="subId0" />
        <result property="starvalue" column="starvalue" />
        <result property="subjectName" column="subjectName"/>
        <result property="thumbnailUrl" column="thumbnail_url"/>
        <result property="videoTime" column="video_time"/>
        <result property="originCourseId" column="origin_course_id"/>
        <result property="originChannelId" column="origin_channel_id"/>

        <result property="resourceNum" column="resourceNum"/>

        <result property="permissionId" column="permission_id"/>
		<association property="videoFile" column="file_id" javaType="SysFile">
            <id property="id" column="f_id"/>
            <result property="name" column="f_name"/>
            <result property="fileUrl" column="f_file_url"/>
            <result property="saveType" column="f_save_type"/>
            <result property="fileType" column="f_file_type"/>
            <result property="videoLong" column="f_video_long"/>
            <result property="fileTypeIndex" column="f_file_type_index"/>
            <result property="snapshotUrl" column="thumbNailUrl"/>
            <result property="thumbNailId" column="thumb_nail_id"/>
            <result property="thumbNailUrl" column="thumb_nail_url"/>
            <result property="targetLangJson" column="target_lang_json" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler"/>
        </association>

        <association property="originChannel" resultMap="channelResultMap" columnPrefix="channel_" />
        <association property="originCourse" resultMap="courseResultMap" columnPrefix="course_" />

        <collection property="eventList" javaType="ArrayList" column="id" ofType="GcEvent">
            <id property="id" column="e_id"/>
            <result property="eventTitle" column="e_event_title"/>
        </collection>
	</resultMap>

    <resultMap id="channelResultMap" type="PtChannel" autoMapping="true">
        <result property="createUserId" column="create_user_id"/>
        <association columnPrefix="create_user_" property="createUser" column="createUserId" javaType="GcUser" autoMapping="true" />
    </resultMap>

    <resultMap id="courseResultMap" type="GcSubject" autoMapping="true" >
        <result property="userId" column="user_id"/>
        <association columnPrefix="user_info_" property="userInfo" column="user_id" javaType="GcUser" autoMapping="true" />
    </resultMap>

    <resultMap id="videoLongMap" type="com.threeatom.guidecore.controller.user.vo.videoLongVo">
        <result property="subId" column="sub_id"  />
        <result property="videoLong" column="video_long" />
        <result property="videoCount" column="video_count"/>
    </resultMap>

	
	<sql id="baseColumn">
	    v.id , v.video_name, v.video_name_index, v.video_desc, v.file_id, v.sub_id, v.source_url,v.video_source,v.update_time, v.create_time, v.thumbnail_url, v.video_time, v.origin_course_id, v.origin_channel_id
	</sql>

    <sql id="baseColumnSub1">
	    v.id , v.sub_id,v.video_name, v.video_name_index, v.video_desc, v.file_id, v.source_url,v.video_source,v.update_time, v.create_time,v.order, v.thumbnail_url, v.video_time
	</sql>

	<sql id="fileBaseColumn">
	   ,f.id as f_id,f.name as f_name,f.file_url as f_file_url,f.save_type as f_save_type, f.video_long as f_video_long
	   ,f.file_type_index as f_file_type_index,f.thumb_nail_url as thumb_nail_url,f.thumb_nail_id as thumb_nail_id,f.file_type as f_file_type
	</sql>
	
	<sql id="leftJoinSysFile">
	   left join sys_file f on v.file_id=f.id
	</sql>
    <sql id="leftJoinSysFile2">
        left join sys_file f2 on f.thumb_nail_id = f2.id
    </sql>
	<sql id="leftJoinGcMaster">
		LEFT JOIN gc_master m ON m.id=s.master_id
	</sql>
	
	<sql id="leftJoinUserVideoAtion">
	   LEFT JOIN gc_user_video_action uva ON v.id=uva.content_id
	</sql>
	
	<sql id="where_gcSubject_state_not_hidden">
    	and s.state !=${@com.threeatom.guidecore.constant.TableConstant@gcSubject_state_hidden_0}
    </sql>
	<sql id="where_gcSubject_state_not_hidden_t">
    	and t.state !=${@com.threeatom.guidecore.constant.TableConstant@gcSubject_state_hidden_0}
    </sql>
	<sql id="where_gcSubject_state_not_hidden_s0">
    	and s0.state !=${@com.threeatom.guidecore.constant.TableConstant@gcSubject_state_hidden_0}
    </sql>

    <select id="getMasterVideoListByFuzzyName" resultMap="baseResultMap">
        select
        <include refid="baseColumn" />
        <include refid="fileBaseColumn" />
        from gc_video v
        <include refid="leftJoinSysFile" />
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        LEFT JOIN gc_user_access_permission uap  on uap.sub_permission::jsonb @> to_jsonb(s.fid::integer)
        LEFT JOIN gc_user_access ua on ua.id=uap.user_access_id
        <where>
            ua.master_id=#{masterId} and
            v.video_name like '%${videoName}%' and ua.user_id=#{userId}
            <include refid="where_gcSubject_state_not_hidden" />
        </where>
    </select>

	<select id="getFuzzyNameVideoInMaster" resultMap="baseResultMap">
		select
	    <include refid="baseColumn" />
	    <include refid="fileBaseColumn" />
		,f2.thumb_nail_url as thumb_nail_url
	    from gc_video v 
	     <include refid="leftJoinSysFile" />
	    left  join sys_file f2 on f2.id = f.thumb_nail_id
	     LEFT JOIN gc_subject s ON s.id=v.sub_id
		  <include refid="leftJoinGcMaster" />
	    <where>
	   	m.id=#{masterId} and 
	   	v.video_name like '%${videoName}%'
	   	<include refid="where_gcSubject_state_not_hidden" />
	    </where>
    </select>    
    
	<select id="selectVideoByid" resultMap="baseResultMap">
	    select
	    <include refid="baseColumn" />
	    <include refid="fileBaseColumn" />
        ,f.target_lang_json as target_lang_json,
	    s.fid as subId0, s.name as topicName
	    from gc_video v 
	     <include refid="leftJoinSysFile" />
	     left join gc_subject s on s.id = v.sub_id
	    where v.id=#{id}
        order by v."order"
    </select>
    
    <select id="selectLikeVideoByUserId" resultMap="baseResultMap">
	    select
	    <include refid="baseColumn" />
	    <include refid="fileBaseColumn" />
	    ,s.name as topicName, s0.name as subjectName,
	    f.thumb_nail_url as thumb_nail_url
	    from gc_video v 
	     <include refid="leftJoinSysFile" />
	     LEFT JOIN gc_subject s ON s.id=v.sub_id
	     LEFT JOIN gc_subject s0 ON s0.id=s.fid
	    <include refid="leftJoinUserVideoAtion" />
	    where uva.user_id=#{userId} and s.master_id = #{masterId} and uva.type =1
	    <include refid="where_gcSubject_state_not_hidden" />
	    <include refid="where_gcSubject_state_not_hidden_s0" />
        order by uva.create_time desc
    </select>
	
	<select id="selectVideoListBySubIds" resultMap="baseResultMap" parameterType="list">
	    select
        <include refid="baseColumnSub1" />
        <include refid="fileBaseColumn" />
	    ,f.thumb_nail_url as thumb_nail_url,s.fid as subId0
        from gc_video v 
         <include refid="leftJoinSysFile" />
	    left join gc_subject s on s.id = v.sub_id
        where v.sub_id in
		<foreach collection="list" item="subId" index="index" open="(" close=")" separator=",">
	      #{subId}
	    </foreach>
	    order by v."order",v.create_time asc,v.id
    </select>

    <select id="selectVideosOneLevelSubIds" resultMap="baseResultMap" parameterType="list">
        SELECT
            <include refid="baseColumnSub1" />
            <include refid="fileBaseColumn" />
            , S."fid" AS subId0
            ,s.id as sub_id
        FROM GC_SUBJECT S
        LEFT JOIN GC_VIDEO V ON S.ID = V.SUB_ID
        <include refid="leftJoinSysFile" />
        WHERE S.FID IN
        <foreach collection="list" item="subId" index="index" open="(" close=")" separator=",">
            #{subId}
        </foreach>
        and v.id is not null
        order by v.order,v.create_time asc,v.id
    </select>

    <select id="selectVideosSubIds" resultMap="baseResultMap" parameterType="list">
        SELECT
        <include refid="baseColumnSub1" />
        <include refid="fileBaseColumn" />
        , S."fid" AS subId0
        ,s.id as sub_id,
        count(r.id) as resourceNum
        FROM GC_VIDEO v
        LEFT JOIN gc_subject s ON S.ID = V.SUB_ID
        left join gc_resource r on r.video_id = v.id
        <include refid="leftJoinSysFile" />
        WHERE v.sub_id IN
        <foreach collection="list" item="subId" index="index" open="(" close=")" separator=",">
            #{subId}
        </foreach>
        and v.id is not null
        GROUP BY v.id, f.id, S."fid", s.id
        order by v.order asc,v.create_time asc,v.id
    </select>


    <select id="getVideoIdListBySubId0" resultMap="baseResultMap" parameterType="list">
        SELECT
        <include refid="baseColumnSub1" />
        <include refid="fileBaseColumn" />
        , S."fid" AS subId0
        ,s.id as sub_id
        FROM GC_SUBJECT S
        LEFT JOIN GC_VIDEO V ON S.ID = V.SUB_ID
        <include refid="leftJoinSysFile" />
        WHERE S.FID IN
        <foreach collection="list" item="subId" index="index" open="(" close=")" separator=",">
            #{subId}
        </foreach>
    </select>

<!--*根据视频id和视频名称查询-->
    <select id="selectVideosBySubIdsAndVideoName" resultMap="baseResultMap" >
	    select
        <include refid="baseColumn" />
        <include refid="fileBaseColumn" />
        , S."fid" AS subId0
        from gc_video v
         <include refid="leftJoinSysFile" />
        LEFT JOIN GC_SUBJECT S ON S.ID = V.SUB_ID
        where
            S.FID IN
            <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator=",">
                #{subId}
            </foreach>
            <if test="videoName != null and videoName !=''">
                and v.video_name like concat('%',#{videoName},'%')
            </if>
        order by v.order asc,v.create_time asc,v.id
    </select>

    <select id="selectVideoListBySubId" resultMap="baseResultMap">
        select
        <include refid="baseColumn" />
        <include refid="fileBaseColumn" />
        ,round(avg(star_value)::numeric,2) as starvalue,
        v.order
        from gc_video v 
         <include refid="leftJoinSysFile" />
        left join  gc_user_video_action ac on ac.content_id = v.id
        where v.sub_id=#{subId}
        group by v.id, f.id
        order by v."order" asc,v.create_time asc,v.id
    </select>

    <select id="selectVideoListByTopSubIds" resultMap="baseResultMap">
        select
        <include refid="baseColumn" />
        ,s.sub_id as top_sub_id,s.fid as subId0,
        file.id as f_id,file.name as f_name,file.folder as f_folder,file.file_url as f_file_url,
        file.file_type as f_file_type,file.file_type_index as f_file_type_index,file.master_id as f_master_id,
        file.save_type as f_save_type
        from gc_video v 
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        LEFT JOIN sys_file file on file.id = v.file_id
        WHERE 1=1
        <if test="subIds != null and subIds.size > 0">
        	AND s.id in
	        <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator=",">
	          #{subId}
	        </foreach>
        </if>
        <include refid="where_gcSubject_state_not_hidden" />
        order by v.order asc,v.create_time asc,v.id
    </select>

    <select id="selectVideoAndEventByTopSubIds" resultMap="baseResultMap">
        select
        <include refid="baseColumn" />
        ,s.sub_id as top_sub_id,s.fid as subId0,
        file.id as f_id,file.name as f_name,file.folder as f_folder,file.file_url as f_file_url,
        file.file_type as f_file_type,file.file_type_index as f_file_type_index,file.master_id as f_master_id,
        file.save_type as f_save_type
        from gc_video v
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        LEFT JOIN sys_file file on file.id = v.file_id
        left join gc_event event on event.video_id = v.id
        WHERE 1=1
        <if test="subIds != null and subIds.size > 0">
            AND s.sub_id in
            <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator=",">
                #{subId}
            </foreach>
        </if>
        <include refid="where_gcSubject_state_not_hidden" />
        order by v.order asc,v.create_time asc,v.id
    </select>
    
    <select id="selectVideoListByIds" resultMap="baseResultMap">
        select
        <include refid="baseColumn" />
        ,v."order"
        <include refid="fileBaseColumn" />
        from gc_video v 
         <include refid="leftJoinSysFile" />
        where
        v.id in
        <foreach collection="list" item="vid" index="index" open="(" close=")" separator=",">
          #{vid}
        </foreach>
        order by v."order"
    </select>
    
    <select id="selectVideoSubIdsbyVids" resultType="Integer">
        select s.sub_id 
        FROM gc_video v 
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        WHERE v.id in
        <foreach collection="list" item="vid" index="index" open="(" close=")" separator=",">
          #{vid}
        </foreach>
        <include refid="where_gcSubject_state_not_hidden" />
        GROUP BY s.sub_id
    </select>
    
    <select id="selectSubIdByVid" resultType="Integer">
        select s.sub_id 
        FROM gc_video v 
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        WHERE v.id = #{vid}
        <include refid="where_gcSubject_state_not_hidden" />
        order by v."order"
    </select>
    
    <select id="selectVideoTopicSubjectInfo" resultType="map">
            select 
            v.id vid,t.id topicId,s.id subId,s.master_id masterId,t.name topicName,s.name subName,v.video_name videoName
            from gc_video v 
			LEFT JOIN gc_subject t ON v.sub_id=t.id
			LEFT JOIN gc_subject s ON t.sub_id=s.id
			WHERE v.id=#{vid}
			<include refid="where_gcSubject_state_not_hidden" />
			<include refid="where_gcSubject_state_not_hidden_t" />
    </select>

    <select id="selectSeenVideoListByTopSubIds" resultType="GcVideo">
        SELECT
            s.sub_id,
            v.id,
            v.video_name,
            uvp.play_state
        FROM
            gc_video AS v
                LEFT JOIN gc_user_video_play AS uvp  ON v.id = uvp.video_id
                LEFT JOIN gc_subject AS s ON s.id = v.sub_id
        WHERE
            uvp.user_id = #{uid}
          <if test="subIds.size !=0">
          AND s.sub_id IN
                <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator="," >
                    #{subId}
                </foreach>
          </if>
        AND uvp.play_state = 1
        GROUP BY
            v.id
    </select>
    
    <select id="countVideoNameInSub0" resultType="Integer">
		select count(1) from gc_video v
		left join gc_subject sub on sub.id = v.sub_id
		where 
		<choose>
            <when test="videoNameIndex==null">
                video_name = #{videoName} 
            </when>
            <otherwise>
                video_name_index=#{videoNameIndex}
            </otherwise>
        </choose>
		and sub.fid = (select fid from gc_subject where id=#{subId})
		 <if test="id!=null">
	        and v.id !=#{id}
	    </if >
	</select>
	
	<select id="selectVideoByVideoAndSub0NameIndex" resultMap="baseResultMap">
	    select
	    <include refid="baseColumn" />
	    <include refid="fileBaseColumn" />
	    ,sub1.fid as subId0
	    ,f.thumb_nail_url as thumb_nail_url
	    from gc_video v 
	     <include refid="leftJoinSysFile" />
	     left join gc_subject sub1 on v.sub_id =sub1.id
		left join gc_subject sub0 on sub1.fid =sub0.id
	    where v.video_name_index =#{videoNameIndex} and sub0.name_index = #{subNameIndex}
	    AND sub0.master_id =#{masterId}
    </select>
    <!--计算视频的总时长-->
    <select id="sumVideoLongByIdUser" resultType="java.lang.Long">
        SELECT
            SUM(v.video_time)
        FROM
            gc_video v
        WHERE v.id IN
            <foreach collection="videoIds" item="videoId" index="index" open="(" close=")" separator="," >
                #{videoId}
            </foreach>
    </select>
    <select id="sumVideoLong" resultType="java.lang.Long">
        SELECT
        SUM(v.video_time)
        FROM
        gc_video v
        WHERE v.id IN
        <foreach collection="videoIds" item="videoId" index="index" open="(" close=")" separator="," >
            #{videoId}
        </foreach>


    </select>
    <select id="sumVideoLongBySubId" resultMap="videoLongMap">
        SELECT
        v.video_time as video_long,s.sub_id as sub_id
        FROM gc_video v
            left join gc_subject s on s.id=v.sub_id
        WHERE v.id IN(SELECT id from gc_video where sub_id in (select id from gc_subject where sub_id in
        <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator="," >
            #{subId}
        </foreach>
        ))
    </select>
      <!--计算视频的播放时长-->
    <select id="sumPlayVideoLongByIdUser" resultType="java.lang.Long">
        SELECT
            SUM(END_TIME) - SUM(START_TIME) AS SUB_TIME
        FROM (
            SELECT
                T.VIDEO_ID, T.USER_ID, MAX(T.END_TIME) AS END_TIME, MIN(T.START_TIME) AS START_TIME
            FROM (
                SELECT
                    UVP.VIDEO_ID, UVP.USER_ID, UVPN.END_TIME, UVPN.START_TIME
                FROM
                    GC_USER_VIDEO_PLAY UVP
                LEFT JOIN GC_USER_VIDEO_PLAYS_NODE UVPN ON UVPN.VIDEOPLAY_ID = UVP.ID
                WHERE
                    VIDEO_ID IN
                    <foreach collection="videoIds" item="videoId" index="index" open="(" close=")" separator="," >
                        #{videoId}
                    </foreach>
                    AND UVPN.END_TIME > UVPN.START_TIME
                    AND USER_ID=#{userId} AND UVPN.START_TIME>= 0 AND UVPN.END_TIME>=0
            ) T
            GROUP BY T.VIDEO_ID, T.USER_ID
        ) T
    </select>


    <select id="pageVideo" parameterType="java.util.Map" resultMap="baseResultMap">
        select DISTINCT ON (v.id)
        <include refid="baseColumn" />
        <include refid="fileBaseColumn" />
        ,s1.name as subjectName
        from gc_video v
        <include refid="leftJoinSysFile" />
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        left join gc_subject s1 on s1.id = s.fid
        LEFT JOIN gc_user_access_permission uap  on uap.sub_permission::jsonb @> to_jsonb(s.fid::integer)
        LEFT JOIN gc_user_access ua on ua.id=uap.user_access_id
        <where>
            <if test="null != videoNum">
                <if test="videoName != null and videoName != ''">
                    and v.video_name like concat('%',#{videoName},'%')
                </if>
            </if>
            <if test="state !=null">
                and s1.state = #{state}
            </if>
            <if test="subId != null and subId != ''">
                and v.sub_id =#{subId}
            </if>
            <if test="userId != null ">
                and ua.user_id = #{userId}
            </if>
            <if test="masterId != null ">
                and ua.master_id = #{masterId}
            </if>
        </where>
        <if test="null != videoNum">
            order by v.id desc, v.create_time desc
        </if>
    </select>

    <select id="countVideosBySubId" resultType="java.lang.Integer">
        select count(g.id) from gc_video g
        <where>
            <if test="ids != null and ids.size != 0">
                AND g.sub_id in
                <foreach collection="ids" item="subjectId" separator="," open="(" close=")">
                    #{subjectId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectVideoInfoBySubId" resultMap="baseResultMap" >
        select
        <include refid="baseColumn" />
        <include refid="fileBaseColumn" />
        from gc_video v
        <include refid="leftJoinSysFile" />
        where 1=1
        <if test="list != null and list.size != 0">
            AND v.sub_id in
            <foreach collection="list" item="subjectId" separator="," open="(" close=")">
                #{subjectId}
            </foreach>
        </if>
        order by v."order"
    </select>

    <select id="selectLastVideoIdBySubjectId" resultType="integer" >
        select vp.video_id from gc_user_video_play vp
                left join gc_video v on v.id = vp.video_id
                left join gc_subject s1 on v.sub_id=s1.id
                left join gc_subject s0 on s1.fid=s0.id
        where s0.id=#{subId}
        and vp.user_id = #{userId}
        and vp.master_id = #{masterId}
        order by vp.update_time desc limit 1
    </select>

    <select id="getStudentSubTimeNum" resultType="com.threeatom.guidecore.entity.StudentInfoVO">
        SELECT
            sum(uvpn.end_time - uvpn.start_time) as subTime,uvp.user_id as userId
        FROM
            gc_user_video_play uvp
            LEFT JOIN gc_user_video_plays_node uvpn ON uvpn.videoplay_id = uvp.ID
        WHERE
          uvpn.end_time > uvpn.start_time
          AND uvp.user_id in
        <foreach collection="userIdList" item="userIdList" separator="," open="(" close=")">
            #{userIdList}
        </foreach>
          AND uvpn.start_time>= 0 AND uvpn.end_time>=0
        and
        video_id IN
        <foreach collection="videoList" item="videoList" separator="," open="(" close=")">
            #{videoList}
        </foreach>
        group by uvp.user_id
    </select>

    <select id="getVideoIdListBySubId" resultType="integer">
        select v.id from gc_video v
        where v.sub_id in
        (select id from gc_subject s1 where s1.fid in
        <foreach collection="subIds" item="subId" separator="," open="(" close=")">
            #{subId}
        </foreach>)

    </select>

    <select id="getVideoListBySubId" resultMap="baseResultMap">
        select * from gc_video v
        where v.sub_id in
        (select id from gc_subject s1 where s1.fid in
        <foreach collection="subIds" item="subId" separator="," open="(" close=")">
            #{subId}
        </foreach>)

    </select>
    <select id="getVideoLongListByVideoId" resultType="com.threeatom.guidecore.entity.GcVideo">
        SELECT v.*,s.sub_id as subjectSubId FROM gc_video v
        LEFT JOIN gc_subject s on v.sub_id=s.id
        <if test="videoIds.size !=0">
        where v.id in
        <foreach collection="videoIds" item="videoId" separator="," open="(" close=")">
            #{videoId}
        </foreach>
        </if>
    </select>
    <select id="countVideoNumInPortal" resultType="Integer">
        select count(1) from gc_video v where 1=1
        <if test="subIds==null">
            and v.sub_id in
            (select  s.id from gc_subject s where s.sub_id in
            (select DISTINCT id from gc_subject s where s.master_id=#{masterId} and s.type=#{state} and s.state!=#{state})
            UNION ALL
            (select s.id from gc_subject s where s.type=#{type} and s.state!=#{state} and s.sub_id in
            (select asso.subject_id from gc_subject_association asso where asso.master_id=#{masterId})) )
        </if>
        <if test="subIds!=null and subIds.size!=0">
            and v.sub_id in
            (select s.id from gc_subject s where s.fid in
            <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator=",">
                #{subId}
            </foreach>
            )
        </if>

    </select>

    <select id="getVideoIdListByPermissionId" resultMap="baseResultMap">
        SELECT
        <include refid="baseColumnSub1" />
        <include refid="fileBaseColumn" />
        , s2."fid" AS subId0
        ,s2.id as sub_id,
        ap.id as permission_id
        from GC_SUBJECT s
        left join gc_user_access_permission ap on ap.sub_permission::jsonb @> to_jsonb(s.id::integer)
        left join gc_subject s2 on s2.fid = s.id
        LEFT JOIN GC_VIDEO V ON S2.ID = V.SUB_ID
        <include refid="leftJoinSysFile" />
        where ap.id in
        <foreach collection="accessPermissionId" item="accessPermissionId" index="index" open="(" close=")" separator=",">
            #{accessPermissionId}
        </foreach>
        and v.id is not null
    </select>

    <select id="getSysFileByIdsOrVideos" resultMap="baseResultMap">
        select
        <include refid="baseColumn" />
        <include refid="fileBaseColumn" />
        ,COALESCE(v.video_name,f.name) as video_name,
        v."order" as "order"
        from gc_video v
        right join sys_file f on v.file_id=f.id
        where 1=2
        <if test="videoList.size !=0 or fileList.size != 0">
            <if test="videoList != null and videoList.size != 0">
                or (
                v.id in
                <foreach collection="videoList" item="videoList" separator="," open="(" close=")">
                    #{videoList}
                </foreach>)
            </if>
            <if test="fileList != null and fileList.size != 0">
                or(
                f.id in
                <foreach collection="fileList" item="fileList" separator="," open="(" close=")">
                    #{fileList}
                </foreach>
                )
            </if>
        </if>
        order by v."order"
    </select>

    <select id="selectVideoPlayListBySubId" resultType="com.threeatom.guidecore.entity.GcVideo">
        select max(p.play_state) as play_state,v.id as id
        from gc_subject s
        left join gc_subject s2 on s2.fid = s.id
        left join gc_video v on v.sub_id = s2.id
        left join gc_user_video_play p on p.video_id = v.id and user_id = #{userId}
        where s.id = #{subId}
        and v.id is not null
        GROUP BY v.id
    </select>
    <select id="selectVideoPlayByVideo" resultType="com.threeatom.guidecore.entity.GcVideo">
        SELECT
            max( p.play_state ) AS play_state,
            v.id AS id
        FROM
            gc_video v
            LEFT JOIN gc_user_video_play p ON p.video_id = v.id AND user_id = #{userId}
        WHERE
            v.id = #{video}
        GROUP BY v.id
    </select>
    <select id="getIdsBySubIds" resultType="java.lang.Integer">
        select id from gc_video where sub_id in
        <foreach collection="subIds" item="subIds" separator="," open="(" close=")">
            #{subIds}
        </foreach>
    </select>

    <select id="getVideoLongMapBySubjectId" resultMap="videoLongMap" >
        select s.id as sub_id,sum(v.video_time) as video_long,
        count(v.id) as video_count
        from gc_video v
                 left join gc_subject s2 on s2.id = v.sub_id
                 left join gc_subject s on s.id = s2.fid
        where s.id in
        <foreach collection="subjectIds" item="subIds" separator="," open="(" close=")">
            #{subIds}
        </foreach>
        GROUP BY s.id
    </select>

    <select id="getVideoListByUserIdsAndSubjectId" resultType="com.threeatom.guidecore.entity.GcVideo">
        SELECT
        <include refid="baseColumnSub1" />
        <include refid="fileBaseColumn" />
        , s2."fid" AS subId0
        ,s2.id as sub_id,
        u.id as userId
        from gc_video v
        left join sys_file f on f.id = v.file_id
        left join gc_subject s2 on s2.id = v.sub_id
        left join gc_subject s1 on s1.id = s2.fid
        left join gc_user u on u.id in
        <foreach collection="userIdList" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    where 1=1
    and s1.id = #{subjectId}
    </select>

    <select id="getVideoCountAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket, COUNT(v.id) OVER (ORDER BY time_bucket) AS value
        FROM (
            SELECT course_video.id
            FROM gc_video course_video
                JOIN gc_subject course ON course_video.origin_course_id = course.id AND course.master_id = #{masterId}
            UNION
            SELECT channel_video.id
            FROM gc_video channel_video
                JOIN pt_channel channel ON channel_video.origin_channel_id = channel.id AND channel.master_id = #{masterId}
        ) AS video_conent
            JOIN gc_video v ON v.id = video_conent.id
                <if test="!filter.videoIds.empty">
                    AND v.id IN
                    <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                        #{videoId}
                    </foreach>
                </if>
            RIGHT JOIN generate_series(#{filter.start}, #{filter.end}, concat(#{filter.step}, ' second')::interval) AS time_bucket
                ON v.create_time >= time_bucket AND v.create_time &lt; time_bucket + concat(#{filter.step}, ' second')::interval
        GROUP BY time_bucket, v.id
        ORDER BY time_bucket;
    </select>

    <select id="getTrendVideoCountAnalytics" parameterType="map"
            resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket, COUNT(v.id) AS value
        FROM (
            SELECT course_video.id
            FROM gc_video course_video
                JOIN gc_subject course ON course_video.origin_course_id = course.id AND course.master_id = #{masterId}
            UNION
            SELECT channel_video.id
            FROM gc_video channel_video
                JOIN pt_channel channel ON channel_video.origin_channel_id = channel.id AND channel.master_id = #{masterId}
        ) AS video_conent
            JOIN gc_video v ON v.id = video_conent.id
            <if test="!filter.videoIds.empty">
                AND v.id IN
                <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                    #{videoId}
                </foreach>
            </if>
            RIGHT JOIN
            (
                SELECT #{filter.start}::timestamp with time zone AS time_bucket
                UNION
                SELECT #{filter.end}::timestamp with time zone
            ) AS time_bucket
                ON v.create_time &lt;= time_bucket
        GROUP BY time_bucket
        ORDER BY time_bucket;
    </select>

    <select id="getVideoListByQuery" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumn"/>
            <include refid="fileBaseColumn"/>,
            pc.id                         AS channel_id,
            pc.channel_name               AS channel_channel_name,
            pc.channel_slug               AS channel_channel_slug,
            pcc.id                        AS channel_channel_content_id,
            channel_owner.id              AS channel_create_user_id,
            channel_owner_info.first_name AS channel_create_user_first_name,
            channel_owner_info.last_name  AS channel_create_user_last_name,
            channel_owner_avatar.file_url AS channel_create_user_avatar_full_file_url,
            gs.id                         AS course_id,
            gs.name                       AS course_name,
            course_owner.id               AS course_user_info_id,
            course_owner_info.first_name  AS course_user_info_first_name,
            course_owner_info.last_name   AS course_user_info_last_name,
            course_owner_avatar.file_url  AS course_user_info_avatar_full_file_url
        FROM gc_video v
            JOIN sys_file f ON v.file_id = f.id

            LEFT JOIN pt_channel pc ON v.origin_channel_id = pc.id
            LEFT JOIN pt_channel_content pcc ON pcc.content_id = v.id
            LEFT JOIN gc_user channel_owner ON pc.create_user_id = channel_owner.id
            LEFT JOIN gc_user_info channel_owner_info ON channel_owner.info_id = channel_owner_info.id
            LEFT JOIN sys_file channel_owner_avatar ON channel_owner_info.avatar_file_id = channel_owner_avatar.id

            LEFT JOIN gc_subject gs ON v.origin_course_id = gs.id
            LEFT JOIN gc_user course_owner ON gs.create_user = course_owner.id
            LEFT JOIN gc_user_info course_owner_info ON course_owner.info_id = course_owner_info.id
            LEFT JOIN sys_file course_owner_avatar ON course_owner_info.avatar_file_id = course_owner_avatar.id
        WHERE ((gs.master_id = #{masterId} AND gs.state = 1 AND course_owner.id IS NOT NULL)
            OR (pc.master_id = #{masterId} AND pc.visible_flag != 0 AND channel_owner.id IS NOT NULL))
        <if test="filter.query != null">
            AND v.video_name ILIKE CONCAT('%', #{filter.query}, '%')
        </if>
        ORDER BY v.create_time DESC
    </select>

    <select id="getVideoContentByFileId" resultMap="baseResultMap">
        SELECT
            <include refid="baseColumn"/>
            <include refid="fileBaseColumn"/>,
            pc.id                         AS channel_id,
            pc.channel_name               AS channel_channel_name,
            pc.channel_slug               AS channel_channel_slug,
            pcc.id                        AS channel_channel_content_id,
            channel_owner.id              AS channel_create_user_id,
            channel_owner_info.first_name AS channel_create_user_first_name,
            channel_owner_info.last_name  AS channel_create_user_last_name,
            channel_owner_avatar.file_url AS channel_create_user_avatar_full_file_url,
            gs.id                         AS course_id,
            gs.name                       AS course_name,
            course_owner.id               AS course_user_info_id,
            course_owner_info.first_name  AS course_user_info_first_name,
            course_owner_info.last_name   AS course_user_info_last_name,
            course_owner_avatar.file_url  AS course_user_info_avatar_full_file_url
        FROM gc_video v
            JOIN sys_file f ON v.file_id = f.id

            LEFT JOIN pt_channel pc ON v.origin_channel_id = pc.id
            LEFT JOIN pt_channel_content pcc ON pcc.content_id = v.id
            LEFT JOIN gc_user channel_owner ON pc.create_user_id = channel_owner.id
            LEFT JOIN gc_user_info channel_owner_info ON channel_owner.info_id = channel_owner_info.id
            LEFT JOIN sys_file channel_owner_avatar ON channel_owner_info.avatar_file_id = channel_owner_avatar.id

            LEFT JOIN gc_subject gs ON v.origin_course_id = gs.id
            LEFT JOIN gc_user course_owner ON gs.create_user = course_owner.id
            LEFT JOIN gc_user_info course_owner_info ON course_owner.info_id = course_owner_info.id
            LEFT JOIN sys_file course_owner_avatar ON course_owner_info.avatar_file_id = course_owner_avatar.id
        WHERE v.file_id = #{fileId}
    </select>

    <select id="getLikesByVideoAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultVideoIdDto">
        SELECT video.id as videoId, count(action.id) AS value
        FROM gc_video video
            LEFT JOIN gc_user_video_action action ON video.id = action.content_id
                AND action.type = 1
                AND action.create_time >= #{filter.start}
                AND action.create_time &lt; #{filter.end}
        <if test="!filter.videoIds.empty">
            WHERE video.id IN
            <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
        GROUP BY video.id
    </select>

</mapper>