<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.SysMenuMapper">

    <select id="getSysMenuList" resultType="com.threeatom.guidecore.entity.SysMenu">
        select * from sys_menu
        where "level" = 2
        and master_id is null
        order by "order"
    </select>

    <select id="getSysMenuListByMasterId" resultType="com.threeatom.guidecore.entity.SysMenu">
        select * from sys_menu
        where "level" = 2
        and master_id=#{masterId}
        order by "order"
    </select>

    <select id="getParentIdList" resultType="java.lang.Integer">
        SELECT * from sys_menu WHERE
            ("key"="Admin" or "key"="Mentoring" or "key"="More from Arena")
        and master_id =#{masterId}
        ORDER BY update_time desc LIMIT 3
    </select>
    <select id="getChildLevelList" resultType="com.threeatom.guidecore.entity.SysMenu">
        SELECT
            *
        FROM
            sys_menu
        WHERE
            master_id=#{masterId} and parent_id is not NULL
    </select>

    <select id="getMenuByRoles" resultType="com.threeatom.guidecore.entity.SysMenu">
        select me.id,me.name,me.sort,me.level,me.key
        from sys_menu me
        left join sys_role_menu nu on nu.menu_ids::jsonb @> to_jsonb(me.id::integer)
        left join sys_role ro on ro.id = nu.role_id
        where ro.role_key in
        <foreach collection="roles" item="role" index="index" open="(" close=")" separator=",">
            #{role}
        </foreach>
        AND me.level IN (0, 1)
        GROUP BY me.id
        order by me.sort
    </select>

</mapper>