<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.SysRoleMenuMapper">

    <select id="getMenuByRoles" resultType="com.threeatom.guidecore.entity.SysMenu">
        select me.id,me.name,me.sort,me.level,me.key from sys_menu me
        left join sys_role_menu nu on json_contains(nu.menu_ids,convert(me.id,char))=1
        left join sys_role ro on ro.id = nu.role_id
        where ro.role_key in
        <foreach collection="roles" item="role" index="index" open="(" close=")" separator=",">
            #{role}
        </foreach>
        GROUP BY me.id
        order by me.sort
    </select>
</mapper>