<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.VideoPlaySegmentMapper">

    <resultMap id="baseResultMap" type="VideoPlaySegment">
        <id property="id.segmentId" column="segment_id"/>
        <id property="id.sessionId" column="session_id" javaType="java.util.UUID" />
        <result property="startWatchTimeInSeconds" column="startWatchTime"/>
        <result property="endWatchTimeInSeconds" column="endWatchTime"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="saveOrUpdateSegment" parameterType="VideoPlaySegment">
        INSERT INTO video_play_segment (segment_id, session_id, segment, create_time, update_time)
        VALUES (#{id.segmentId}, #{id.sessionId}, int4range(#{startWatchTimeInSeconds}, #{endWatchTimeInSeconds}), #{createTime}, #{updateTime})
        ON CONFLICT (session_id, segment_id)
        DO UPDATE SET segment = int4range(lower(video_play_segment.segment), #{endWatchTimeInSeconds}), update_time = #{updateTime}
            WHERE NOT video_play_segment.segment @> int4range(#{startWatchTimeInSeconds}, #{endWatchTimeInSeconds});
    </insert>

    <select id="getVideoWatchingTimeAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket, SUM(upper(segment) - lower(segment)) AS value
            FROM generate_series(#{filter.start}, #{filter.end}, #{interval}::interval) AS time_bucket
            LEFT JOIN video_play_segment ON create_time >= time_bucket AND create_time &lt; time_bucket + #{interval}::interval
            LEFT JOIN video_play_session ON video_play_session.id = video_play_segment.session_id AND master_id = #{masterId}
        GROUP BY time_bucket
        ORDER BY time_bucket;
    </select>

</mapper>
