<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.VideoEventMapper">

    <resultMap id="baseResultMap" type="VideoEvent">
        <id property="id" column="id"/>

        <result property="videoId" column="video_id"/>
        <result property="videoTime" column="video_time"/>
        <result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="order" column="order_number"/>
        <result property="ownerId" column="owner_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>

        <association property="owner" resultMap="ownerResultMap" columnPrefix="owner_"/>
        <association property="task" resultMap="taskResultMap" columnPrefix="task_"/>
        <association property="notification" resultMap="notificationResultMap" columnPrefix="notification_"/>
    </resultMap>

    <resultMap id="ownerResultMap" type="GcUser">
        <id property="id" column="id"/>
        <result property="sysId" column="sys_id"/>
        <result property="username" column="username"/>
        <result property="state" column="state"/>
        <result property="password" column="password"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="infoId" column="info_id"/>
        <result property="pid" column="pid"/>
        <result property="groupName" column="group_name"/>
        <result property="logInTime" column="log_in_time"/>
        <result property="lastName" column="last_name"/>
        <result property="firstName" column="first_name"/>
        <result property="powtoonUserId" column="powtoon_user_id"/>

        <association property="info" column="id" javaType="GcUserInfo" columnPrefix="info_">
            <id property="id" column="id"/>
            <result property="lastName" column="last_name"/>
            <result property="firstName" column="first_name"/>
            <result property="gender" column="gender"/>
            <result property="phone" column="phone"/>
            <result property="avatarFileId" column="avatar_file_id"/>
            <association property="avatarFile" column="avatarFile" javaType="SysFile" columnPrefix="avatar_file_">
                <id property="id" column="id"/>
                <result property="name" column="name"/>
                <result property="fileUrl" column="url"/>
                <result property="saveType" column="save_type"/>
                <result property="uploadUid" column="upload_uid"/>
                <result property="masterId" column="master_id"/>
                <result property="fileTypeIndex" column="save_type"/>
                <result property="updateTime" column="update_time"/>
                <result property="createTime" column="create_time"/>
            </association>
        </association>
    </resultMap>

    <resultMap id="taskResultMap" type="Task">
        <id property="id" column="id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="videoEventId" column="video_event_id"/>
        <result property="courseId" column="course_id"/>
        <result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer" typeHandler="com.threeatom.common.mybatis.typehandler.TaskAnswerJsonTypeHandler"/>
        <result property="retries" column="retries"/>
        <result property="allowSkip" column="allow_skip"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="version" column="version"/>
        <result property="properties" column="properties" typeHandler="com.threeatom.common.mybatis.typehandler.TaskPropertiesJsonTypeHandler"/>
        <result property="videoEventId" column="video_event_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>

        <collection property="choices" javaType="ArrayList" columnPrefix="choice_" ofType="TaskChoice" resultMap="taskChoicesResultMap" />
    </resultMap>

    <resultMap id="notificationResultMap" type="Notification">
        <id property="id" column="id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="videoEventId" column="video_event_id"/>
        <result property="type" column="type"/>
        <result property="content" column="content"/>
        <result property="videoEventId" column="video_event_id"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>

    <resultMap id="taskChoicesResultMap" type="TaskChoice">
        <id property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="content" column="content"/>
        <result property="order" column="order_number"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <sql id="videoEventColumns">
        video_event.id, video_event.video_id, video_event.video_time, video_event.type, video_event.order_number,
        video_event.owner_id, video_event.created_time, video_event.updated_time
    </sql>

    <sql id="ownerColumns">
        u.id as owner_id, u.sys_id as owner_sys_id, u.username as owner_username, u.state as owner_state, u.update_time as owner_update_time,
        u.create_time as owner_create_time, u.info_id as owner_info_id, u.pid as owner_pid, u.powtoon_user_id as owner_powtoon_user_id
    </sql>

    <sql id="ownerInfoColumns">
        user_info.id as owner_info_id, user_info.last_name as owner_info_last_name, user_info.first_name as owner_info_first_name,
        user_info.avatar_file_id as owner_info_avatar_file_id, user_info.update_time as owner_info_update_time,
        user_info.create_time as owner_info_create_time
    </sql>

    <sql id="ownerAvatarFileColumns">
        user_avatar_file.id as owner_info_avatar_file_id, user_avatar_file.name as owner_info_avatar_file_name,
        user_avatar_file.file_url as owner_info_avatar_file_url, user_avatar_file.save_type as owner_info_avatar_file_save_type,
        user_avatar_file.update_time as owner_info_avatar_file_update_time, user_avatar_file.create_time as owner_info_avatar_file_create_time,
        user_avatar_file.file_type as owner_info_avatar_file_type, user_avatar_file.upload_uid as owner_info_avatar_file_upload_uid,
        user_avatar_file.master_id as owner_info_avatar_file_master_id, user_avatar_file.file_type_index as owner_info_avatar_file_file_type_index
    </sql>

    <sql id="taskColumns">
        task.id as task_id, task.owner_id as task_owner_id, task.video_event_id as task_video_event_id,
        task.course_id as task_course_id, task.type as task_type,
        task.question as task_question, task.answer as task_answer, task.retries as task_retries, task.allow_skip as task_allow_skip,
        task.is_deleted as task_is_deleted, task.properties as task_properties, task.video_event_id as task_video_event_id,
        task.version as task_version, task.created_time as task_created_time, task.updated_time as task_updated_time
    </sql>

    <sql id="notificationColumns">
        notification.id as notification_id, notification.owner_id as notification_owner_id, notification.video_event_id as notification_video_event_id,
        notification.type as notification_type, notification.content as notification_content, notification.video_event_id as notification_video_event_id,
        notification.created_time as notification_created_time, notification.updated_time as notification_updated_time
    </sql>

    <sql id="taskChoiceColumns">
        task_choice.id as task_choice_id, task_choice.task_id as task_choice_task_id, task_choice.content as task_choice_content,
        task_choice.order_number as task_choice_order_number, task_choice.is_deleted as task_choice_is_deleted
    </sql>

    <select id="videoEventsByType" resultMap="baseResultMap">
        SELECT
            <include refid="videoEventColumns"/>,
            <include refid="ownerColumns"/>,
            <include refid="ownerInfoColumns"/>,
            <include refid="ownerAvatarFileColumns"/>,
            <include refid="taskColumns"/>,
            <include refid="notificationColumns"/>,
            <include refid="taskChoiceColumns"/>
        FROM video_events video_event
            JOIN gc_user u ON video_event.owner_id = u.id
            JOIN gc_user_info user_info ON u.info_id = user_info.id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN tasks task ON video_event.id = task.video_event_id AND task.is_deleted = false
            LEFT JOIN task_choices task_choice ON task_choice.task_id = task.id AND task_choice.is_deleted = false
            LEFT JOIN notifications notification ON video_event.id = notification.video_event_id
        WHERE video_event.video_id = #{videoId} AND video_event.type = #{eventType}
        ORDER BY video_event.video_time, video_event.order_number
    </select>

    <select id="videoEventsByTypeAndTimestamp" resultMap="baseResultMap">
        SELECT
            <include refid="videoEventColumns"/>,
            <include refid="ownerColumns"/>,
            <include refid="ownerInfoColumns"/>,
            <include refid="ownerAvatarFileColumns"/>,
            <include refid="taskColumns"/>,
            <include refid="notificationColumns"/>,
            <include refid="taskChoiceColumns"/>
        FROM video_events video_event
            JOIN gc_user u ON video_event.owner_id = u.id
            JOIN gc_user_info user_info ON u.info_id = user_info.id
            LEFT JOIN sys_file user_avatar_file ON user_info.avatar_file_id = user_avatar_file.id
            LEFT JOIN tasks task ON video_event.id = task.video_event_id AND task.is_deleted = false
            LEFT JOIN task_choices task_choice ON task_choice.task_id = task.id AND task_choice.is_deleted = false
            LEFT JOIN notifications notification ON video_event.id = notification.video_event_id
        WHERE video_event.video_id = #{videoId} AND video_event.type = #{eventType} AND video_event.video_time = #{timestamp}
        ORDER BY video_event.video_time, video_event.order_number
    </select>

</mapper>
