<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcEventMapper">

    <resultMap id="gcUserResultMap" type="GcEvent">
        <id property="id" column="id"/>
        <result property="videoId" column="video_id"  />

        <result property="eventType" column="event_type" />
        <result property="uploadUser" column="upload_user" />
        <result property="uploadType" column="upload_type" />
        <result property="eventTime" column="event_time" />
        <result property="timeLimit" column="time_limit" />
        <result property="eventTitle" column="event_title" />
        
        <result property="ext" column="ext"/>
        <!-- <result property="extJson" column="ext" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonArrayTypeHandler"/> -->
        
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
        <result property="answerUpdateTime" column="user_id" />
		
		<result property="linkFileId" column="link_file_id" />
        <result property="linkVideoId" column="link_video_id" />
        <result property="futurePreEventId" column="future_pre_event_id" />
        <result property="futureDelayTime" column="future_delay_time" />
        <result property="myAnswerFlag" column="myAnswerFlag" />
        <result property="answerMessageFlag" column="answer_message_flag" />
        
		<association property="linkFile" column="link_file_id" javaType="SysFile">
            <id property="id" column="linkFile_id"/>
            <result property="name" column="linkFile_name"/>
            <result property="fileUrl" column="linkFile_file_url"/>
            <result property="saveType" column="linkFile_save_type"/>
            <result property="fileTypeIndex" column="linkFile_file_type_index"/>
        </association>
        
        <association property="myAnswer" column="id" javaType="GcUserAnswer">
			<id property="id" column="ua_id" />
			<result property="answerJson" column="ua_answerJson" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonObjectTypeHandler" />
			<result property="updateTime" column="ua_updateTime" />
        </association>
        
        <association property="linkVideo" column="link_video_id" javaType="GcVideo">
            <id property="id" column="linkVideo_id"/>
            <result property="videoName" column="linkVideo_video_name"/>
            <result property="videoDesc" column="linkVideo_video_desc"/>
            <result property="originCourseId" column="linkVideo_origin_course_id"/>

            <association property="originCourse" resultMap="courseResultMap" columnPrefix="course_" />
        </association>
        
        <association property="futurePreEvent" column="future_pre_event_id" javaType="GcEvent">
            <id property="id" column="futurePreEvent_id"/>
            <result property="eventType" column="futurePreEvent_event_type"/>
            <result property="eventTime" column="futurePreEvent_event_time"/>
            <result property="eventTitle" column="futurePreEvent_event_title"/>
            
            <collection property="answerList" javaType="ArrayList" column="event_id" ofType="GcUserAnswer">
				<id property="id" column="answer_id" />
				<result property="userId" column="answer_userId" />
				<result property="eventId" column="answer_eventId" />
				<result property="answerJson" column="answer_answerJson" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonObjectTypeHandler"/>
				<result property="updateTime" column="answer_updateTime" />
                <result property="createTime" column="answer_createTime"/>
			</collection>
        </association>
        
        <association property="user" column="upload_user" javaType="GcUser">
            <id property="id" column="u_id"/>
            <!-- <result property="avatarFileId" column="avatarFileId"/> -->
            <result property="lastName" column="lastName"/>
            <result property="firstName" column="firstName"/>
            <!-- <association property="avatarFile" column="avatarFile" javaType="SysFile">
                <id property="id" column="f_id"/>
                <result property="name" column="f_name"/>
                <result property="fileUrl" column="f_file_url"/>
                <result property="saveType" column="f_save_type"/>
            </association> -->
            <association property="info" column="id" javaType="GcUserInfo">
                <id property="id" column="info_id"/>
                <result property="lastName" column="lastName"/>
                <result property="firstName" column="firstName"/>
                <result property="avatarFileId" column="avatarFileId"/>
                <association property="avatarFile" column="avatarFile" javaType="SysFile">
                    <id property="id" column="f_id"/>
                    <result property="name" column="f_name"/>
                    <result property="fileUrl" column="f_file_url"/>
                    <result property="saveType" column="f_save_type"/>
                </association>
            </association>
        </association>

        <collection property="answerList" javaType="ArrayList" column="event_id" ofType="GcUserAnswer">
            <id property="id" column="answer_id" />
            <result property="userId" column="answer_userId" />
            <result property="eventId" column="answer_eventId" />
            <result property="answerJson" column="answer_answerJson" typeHandler="com.threeatom.common.mybatis.typehandler.FastJsonObjectTypeHandler"/>
            <result property="updateTime" column="answer_updateTime" />
            <result property="createTime" column="answer_createTime"/>
        </collection>

    </resultMap>

    <resultMap id="courseResultMap" type="GcSubject" autoMapping="true" >
        <result property="userId" column="user_id"/>
        <result property="createUser" column="user_id"/>
        <result property="fid" column="fid"/>
        <result property="availableType" column="available_type"/>
        <result property="state" column="state"/>
        <result property="subImgId" column="img_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="courseColumns">
        course.id                         AS course_id,
        course.name                       AS course_name,
        course.fid                        AS course_fid,
        course.state                      AS course_state,
        course.available_type             AS course_available_type,
        course.sub_img_id                 AS course_img_id,
        course.create_time                AS course_create_time,
        course.update_time                AS course_update_time
    </sql>

    <sql id="baseColumn">
         e.id,e.upload_user,e.video_id,e.event_time,e.event_title,e.time_limit,e.event_type,e.ext,e.upload_type
         ,e.link_file_id,e.link_video_id,e.future_pre_event_id,e.future_delay_time,e.answer_message_flag
    </sql>
    <sql id="userBaseColumn">
           ,u.id as u_id,ui.id as info_id,ui.first_name as firstName ,ui.last_name as lastName,ui.avatar_file_id as avatarFileId
    </sql>
	
	<sql id="linkFileColumn">
        ,linkFile.id as linkFile_id, linkFile.name as linkFile_name, linkFile.file_url as  linkFile_file_url, 
        linkFile.save_type as linkFile_save_type, linkFile.file_type_index as linkFile_file_type_index
    </sql>
    <sql id="linkVideoColumn">
        ,linkVideo.id  as  linkVideo_id, linkVideo.video_name as  linkVideo_video_name, linkVideo.video_desc as  linkVideo_video_desc, linkVideo.origin_course_id as linkVideo_origin_course_id
    </sql>

    <sql id="futurePreEventColumn">
        ,futurePreEvent.id  as futurePreEvent_id, futurePreEvent.event_type as  futurePreEvent_event_type, 
        futurePreEvent.event_time as  futurePreEvent_event_time, futurePreEvent.event_title as  futurePreEvent_event_title
    </sql>
    
    <sql id="answerListColumn">
        ,answer.id as answer_id, answer.user_id as answer_userId, answer.event_id as answer_eventId,
        answer.answer_json as answer_answerJson,answer.update_time as answer_updateTime,answer.create_time as answer_createTime
    </sql>
    
    <select id="getEventById" resultMap="gcUserResultMap">
		SELECT
           <include refid="baseColumn"/>
           <include refid="linkFileColumn"/>
           <include refid="linkVideoColumn"/>
           <include refid="futurePreEventColumn"/>
           <include refid="answerListColumn"/>,
           <include refid="courseColumns"/>
        from gc_event e 
		left join sys_file linkFile on e.link_file_id = linkFile.id 
		left join gc_video linkVideo on e.link_video_id =linkVideo.id
        left join gc_subject course ON course.id = linkVideo.origin_course_id
		left join gc_event futurePreEvent on e.future_pre_event_id=futurePreEvent.id
		left join gc_user_answer answer on answer.event_id=futurePreEvent.id and answer.user_id = #{userId}
		where e.id = #{id} order by e.create_time
	</select>
	
	<select id="selectGetEventListByVid" resultMap="gcUserResultMap">
		SELECT
           <include refid="baseColumn"/>
           <include refid="linkFileColumn"/>
           <include refid="linkVideoColumn"/>
           <include refid="futurePreEventColumn"/>
           <include refid="answerListColumn"/>,
           <include refid="courseColumns"/>
        from gc_event e
		left join sys_file linkFile on e.link_file_id = linkFile.id
        left join gc_video linkVideo on e.link_video_id =linkVideo.id
        left join gc_subject course ON course.id = linkVideo.origin_course_id
        left join gc_event futurePreEvent on e.future_pre_event_id=futurePreEvent.id
        left join gc_user_event ue on ue.event_id = e.id
        left join gc_user_answer answer on answer.event_id=futurePreEvent.id
		where e.video_id = #{vid} and ue.master_id=#{masterId}
        or (e.upload_type = #{type} and  e.video_id=#{vid})
        order by e.create_time
	</select>

    <select id="selectEventListByVid" resultMap="gcUserResultMap">
        SELECT
        <include refid="baseColumn"/>
        <include refid="linkFileColumn"/>
        <include refid="linkVideoColumn"/>
        <include refid="futurePreEventColumn"/>
        <include refid="answerListColumn"/>,
        <include refid="courseColumns"/>
        from gc_event e
        left join sys_file linkFile on e.link_file_id = linkFile.id
        left join gc_video linkVideo on e.link_video_id =linkVideo.id
        left join gc_subject course ON course.id = linkVideo.origin_course_id
        left join gc_event futurePreEvent on e.future_pre_event_id=futurePreEvent.id
        left join gc_user_event ue on ue.event_id=e.id
        left join gc_user_answer answer on futurePreEvent.id=answer.event_id
        where e.video_id = #{vid} and ue.user_id=#{userId} and ue.master_id=#{masterId}
        or (e.upload_type = #{type} and  e.video_id=#{vid})
        order by e.create_time
    </select>
	
    <select id="selectGetEventListAndSelfAnswerByVid" resultMap="gcUserResultMap">
        SELECT
           <include refid="baseColumn"/>
           <include refid="userBaseColumn"/>
        FROM
            gc_event AS e
        LEFT JOIN gc_user u on e.upload_user=u.id
        LEFT JOIN gc_user_info ui on ui.id=u.info_id
        LEFT JOIN gc_user_answer AS ua ON ua.event_id = e.id
        LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id
        WHERE e.video_id = #{vid}
        AND ua.user_id = #{userId}
        <!-- /*查询门户端添加的问题和老师端添加的问题里指定人包括该用户的数据*/ -->
        AND (ue.user_id = #{userId} OR e.upload_type != 2)
    </select>
    
    <select id="selectGetEventListAndSelfAnswerByVids" resultMap="gcUserResultMap">
        SELECT
            <include refid="baseColumn"/>
            <include refid="userBaseColumn"/>
        FROM
            gc_event AS e
                LEFT JOIN gc_user u on e.upload_user=u.id
                LEFT JOIN gc_user_info ui on ui.id=u.info_id
                LEFT JOIN gc_user_answer AS ua ON ua.event_id = e.id and ua.master_id=#{masterId}
                LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id
        WHERE e.video_id in
                <foreach collection="vids" item="vid" index="index" open="(" close=")" separator=",">
                    #{vid}
                </foreach>
          AND ua.user_id = #{userId}
            <!-- /*查询门户端添加的问题和老师端添加的问题里指定人包括该用户的数据*/ -->
          AND (ue.user_id = #{userId} OR e.upload_type != 2)
    </select>

    <select id="selectGetEventListAndSelfAnswerByVidFull" resultMap="gcUserResultMap">
        SELECT
        <include refid="baseColumn"/>
        <include refid="userBaseColumn"/>
        ,ua.id as ua_id, ua.answer_json as ua_answerJson, ua.update_time as ua_updateTime,
        CASE WHEN ua.answer_json is null THEN 0 ELSE 1 END as myAnswerFlag
        FROM
        gc_event AS e
        LEFT JOIN gc_user u on e.upload_user=u.id
        LEFT JOIN gc_user_info ui on ui.id=u.info_id
        LEFT JOIN gc_user_answer AS ua ON ua.event_id = e.id and ua.master_id=#{masterId}
        <if test="userId != null">
            AND ua.user_id = #{userId}
        </if>
        LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id and ue.master_id=#{masterId}
        WHERE e.video_id = #{vid} AND ue.user_id = #{userId}
        <!-- /*查询门户端添加的问题和老师端添加的问题里指定人包括该用户的数据*/ -->
        or (e.video_id=#{vid} and e.upload_type != 2  )
        order by e.event_time
    </select>

     <select id="findEventAnswerByVideoIdsUser" resultType="com.threeatom.guidecore.entity.GcEvent">
        SELECT
        DISTINCT E.ID, E.VIDEO_ID , E.UPLOAD_TYPE, UA.ANSWER_JSON::jsonb,v.sub_id as subjectId,
        s.sub_id as subId,UA.create_time as answerCreateTime,
        ua.update_time as updateTime,
        UA.id as myAnswerId
        FROM GC_EVENT E
        LEFT JOIN GC_USER_EVENT UE ON UE.EVENT_ID = E.ID AND UE.user_id=#{userId}
        LEFT JOIN GC_USER_ANSWER UA ON UA.EVENT_ID=E.ID AND UA.master_id=#{masterId}
        left join gc_video v on v.id = e.video_id
        left join gc_subject s on s.id = v.sub_id
        <if test="userId != null">
        AND UA.USER_ID = #{userId}
        </if>
        WHERE
        UE.master_id=#{masterId} AND UA.USER_ID = #{userId}
        <if test="videoIds != null and videoIds.size !=0">
            AND E.VIDEO_ID IN
            <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
         or (E.UPLOAD_TYPE != 2 and  UA.USER_ID = #{userId}
         <if test="videoIds != null and videoIds.size !=0">
             and E.VIDEO_ID IN
         <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
             #{videoId}
         </foreach>
         </if>)
         <!-- /*查询门户端添加的问题和老师端添加的问题里指定人包括该用户的数据*/ -->
    </select>

    <select id="findEventUserByVideoIdsUser" resultType="com.threeatom.guidecore.entity.GcEvent">
        SELECT
        DISTINCT E.ID, E.VIDEO_ID , E.UPLOAD_TYPE, UA.ANSWER_JSON::jsonb,v.sub_id as subjectId,
        s.sub_id as subId,ue.user_id as userId
        FROM GC_EVENT E
        LEFT JOIN GC_USER_EVENT UE ON UE.EVENT_ID = E.ID
        <if test="userId != null">
            AND UE.user_id=#{userId}
        </if>
        LEFT JOIN GC_USER_ANSWER UA ON UA.EVENT_ID=E.ID AND UA.master_id=#{masterId}
        left join gc_video v on v.id = e.video_id
        left join gc_subject s on s.id = v.sub_id
        <if test="userId != null">
            AND UA.USER_ID = #{userId}
        </if>
        WHERE
        UE.master_id=#{masterId}
        <if test="null != userId ">
            AND UA.USER_ID = #{userId}
        </if>
        <if test="videoIds != null and videoIds.size !=0">
            AND E.VIDEO_ID IN
            <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
        or (E.UPLOAD_TYPE != 2
        <if test="null != userId ">
            and  UA.USER_ID = #{userId}
        </if>
        <if test="videoIds != null and videoIds.size !=0">
        and E.VIDEO_ID IN
        <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
            #{videoId}
        </foreach>
        </if>    )
        <!-- /*查询门户端添加的问题和老师端添加的问题里指定人包括该用户的数据*/ -->
    </select>

    <select id="findEventAnswerByVideoIds" resultType="com.threeatom.guidecore.entity.GcEvent">
        SELECT
        DISTINCT E.ID, E.VIDEO_ID , E.UPLOAD_TYPE, UA.ANSWER_JSON::jsonb,v.sub_id as subjectId,
        s.sub_id as subId
        FROM GC_EVENT E
        LEFT JOIN GC_USER_EVENT UE ON UE.EVENT_ID = E.ID AND UE.user_id=#{userId}
        LEFT JOIN GC_USER_ANSWER UA ON UA.EVENT_ID=E.ID
        left join gc_video v on v.id = e.video_id
        left join gc_subject s on s.id = v.sub_id
        <if test="userId != null and 3!=envFlag">
            AND UA.USER_ID = #{userId}
        </if>
        WHERE
        UE.master_id=#{masterId}
            AND UA.USER_ID = #{userId}
        <if test="videoIds != null and videoIds.size !=0">
            AND E.VIDEO_ID IN
            <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
        or (E.UPLOAD_TYPE != 2 and  UA.USER_ID = #{userId}
        <if test="videoIds != null and videoIds.size !=0">
            and E.VIDEO_ID IN
        <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
            #{videoId}
        </foreach> )
        </if>
        <!-- /*查询门户端添加的问题和老师端添加的问题里指定人包括该用户的数据*/ -->

    </select>

    <select id="getEventListByVideoIds" resultMap="gcUserResultMap">
        select
        <include refid="baseColumn"/>
        <include refid="userBaseColumn"/>
        ,CASE WHEN an.answer_json is null THEN 0 ELSE 1 END as myAnswerFlag,an.id as ua_id,an.answer_json as ua_answerJson, an.update_time as ua_updateTime
        from
        gc_event AS e
        LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id
        LEFT JOIN gc_user u on e.upload_user=u.id
        LEFT JOIN gc_user_info ui on ui.id=u.info_id
        left join gc_user_answer an on an.event_id=e.id and an.user_id = #{uid}
        where e.event_type !=4
        <if test="vids != null and vids.size !=0">
            and video_id in
            <foreach collection="vids" item="vid" index="index" open="(" close=")" separator=",">
                #{vid}
            </foreach>
        </if>
        AND (ue.user_id = #{uid} OR e.upload_type != 2) ORDER BY e.event_time asc
    </select>

    <select id="getEventNumByAdmin" resultType="GcEvent">
        SELECT
            e.id,
            e.video_id,
            e.event_time,
            e.event_title,
            e.time_limit,
            e.event_type,
            e.ext,
            e.upload_type,
            e.upload_user
        FROM
            gc_event e
                LEFT JOIN gc_user_event ue ON ue.event_id = e.id
                LEFT JOIN gc_user u ON e.upload_user = u.id
        where 1=1
        <if test="vids != null and vids.size !=0">
            and  video_id in
        <foreach collection="vids" item="vid" index="index" open="(" close=")" separator=",">
            #{vid}
        </foreach>
        </if>
        AND ue.user_id = #{userId} and ue.master_id=#{masterId}
        AND e.upload_type = 2
    </select>


    <sql id="where_gcSubject_state_not_hidden">
    	and s.state !=0
    </sql>

    <select id="selectEventSubIdsByEventId" resultType="Integer">
        select s.sub_id from gc_event e
        LEFT JOIN gc_video v on e.video_id=v.id
        LEFT JOIN gc_subject s on s.id=v.sub_id
        WHERE e.id in
        <foreach collection="list" item="eid" index="index" open="(" close=")" separator=",">
            #{eid}
        </foreach>
        <include refid="where_gcSubject_state_not_hidden" />
        GROUP BY s.sub_id
    </select>

    <select id="selectSubIdByEventId" resultType="Integer">
        select s.sub_id from gc_event e
        LEFT JOIN gc_video v on e.video_id=v.id
        LEFT JOIN gc_subject s on s.id=v.sub_id
        WHERE e.id=#{eid}
        <include refid="where_gcSubject_state_not_hidden" />
        GROUP BY s.sub_id
    </select>

    <select id="selectGetEventIdsByVideoId" resultType="Integer">
        select
            e.id
        from
            gc_event AS e
        LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id
        where video_id = #{vid}
        AND (ue.user_id = #{uid} OR e.upload_type != 2)
    </select>

    <select id="selectGetEventsByVideoId" resultMap="gcUserResultMap">
        select
        <include refid="baseColumn"/>
        <include refid="userBaseColumn"/>
        from
            gc_event AS e
                LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id
                LEFT JOIN gc_user u on e.upload_user=u.id
                LEFT JOIN gc_user_info ui on ui.id=u.info_id
        where video_id = #{vid}
          AND (ue.user_id = #{uid} OR e.upload_type != 2) order by event_time asc
    </select>

    <select id="selectEventIdsByMasterId" resultType="Integer">
        select 
        e.id
        from
        gc_event e
        LEFT JOIN gc_video v ON v.id=e.video_id
        LEFT JOIN gc_subject s ON s.id=v.sub_id
        where s.master_id=#{masterId}
        <include refid="where_gcSubject_state_not_hidden" />
    </select>

    <select id="videoEventsAnswerNumMap" resultType="map">
	    SELECT e.id as eventId,
		count(ua.event_id) as answerNum
		FROM   gc_event AS e
		LEFT JOIN gc_user_event AS ue ON ue.event_id = e.id and ue.master_id=#{masterId}
		left join gc_user_answer as ua on ua.event_id = e.id and ua.master_id=#{masterId}
		WHERE  e.video_id = #{vid}
        <if test="userId != null and userId !=''">
            and  ue.user_id = #{userId}
        </if>
	   or ( e.video_id = #{vid} and e.upload_type != 2 )
	         group by ua.event_id, e.id
	         order by e.event_time
    </select>

    <select id="countEventByVideoIds" resultType="java.lang.Integer">
        select count(1) from gc_event
        <if test="list.size !=0">
            where
            video_id in
            <foreach collection="list" item="list" index="index" open="(" close=")" separator=",">
                #{list}
            </foreach>
        </if>
    </select>

    <select id="selectEventUploadByPortal" resultType="com.threeatom.guidecore.entity.GcEvent">
        select * from  gc_event where type=#{type} and video_id=#{vid}
    </select>

    <select id="selectAllEventByTeacherId" resultType="com.threeatom.guidecore.entity.GcEvent">
        select distinct e.id,e.upload_user,e.video_id,e.event_time,e.event_title,e.time_limit,e.event_type,e.ext::jsonb,e.upload_type
        ,e.link_file_id,e.link_video_id,video.video_name as videoName,sub1.name as sub1Name,sub0.name as sub0Name,count(message.id) as unreadMessages
        ,max(answer.update_time) as lastAnswerTime
        from  gc_event e
        left join gc_video video on video.id=e.video_id
        left join gc_subject sub1 on sub1.id = video.sub_id
        left join gc_subject sub0 on sub0.id = sub1.fid
        left join gc_user_answer answer on answer.event_id = e.id
        left join gc_master_message message on message.user_answer_id=answer.id and message.target_user_id=#{userId}
        where answer.master_id = #{masterId} and message.read_state=0 and sub0.id in
        <foreach collection="subIds" item="subId" index="index" open="(" close=")" separator=",">
            #{subId}
        </foreach>
        <if test="null!=sub1Ids and sub1Ids.size !=0">
            AND
            sub1.id in
            <foreach collection="sub1Ids" item="sub1Id" index="index" open="(" close=")" separator=",">
                #{sub1Id}
            </foreach>
        </if>
        <if test="null!=videoIds and videoIds.size !=0">
            AND
            video.id in
            <foreach collection="videoIds" item="videoId" index="index" open="(" close=")" separator=",">
                #{videoId}
            </foreach>
        </if>
        group by e.id, e.upload_user, e.video_id, e.event_time, e.event_title, e.time_limit, e.event_type, e.ext::jsonb, e.upload_type, e.link_file_id, e.link_video_id, video.video_name, sub1.name, sub0.name
        <choose>
            <when test="order!=null">
                order by max(answer.update_time) ${order}
            </when>
            <otherwise>
                order by max(answer.update_time) desc
            </otherwise>
        </choose>
    </select>

    <select id="findEventAnswerByVideoIdsUserList" resultType="com.threeatom.guidecore.entity.GcEvent">
        select DISTINCT ON (ua.user_id, e.id) E.ID, E.VIDEO_ID , E.UPLOAD_TYPE, UA.ANSWER_JSON,ua.user_id,
        v.sub_id as subjectId,
        s.sub_id as subId
        FROM GC_EVENT E
        LEFT JOIN GC_USER_EVENT UE ON UE.EVENT_ID = E.ID
        LEFT JOIN GC_USER_ANSWER UA ON UA.EVENT_ID=E.ID
        left join gc_video v on v.id = e.video_id
        left join gc_subject s on s.id = v.sub_id
        <if test="userIdList != null and userIdList.size !=0">
            AND UA.USER_ID in
            <foreach collection="userIdList" item="userId" open="(" separator="," close=")">
                #{userId}
            </foreach>
        </if>
        WHERE
        UE.master_id=#{masterId}
        <if test="videoIds != null and videoIds.size!=0">
            AND E.VIDEO_ID IN
            <foreach collection="videoIds" item="videoId" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
        or (E.UPLOAD_TYPE != 2
        <if test="videoIds != null and videoIds.size!=0">
            and E.VIDEO_ID IN
        <foreach collection="videoIds" item="videoId" open="(" separator="," close=")">
            #{videoId}
        </foreach>
        </if>)
        and UA.ANSWER_JSON is not null
    </select>

    <select id="getEventNumByVideos" resultType="com.threeatom.guidecore.entity.GcEvent">
            SELECT
            E.ID,
            E.VIDEO_ID,
            E.UPLOAD_TYPE,
            null as ANSWER_JSON,
            vo.sub_id
            FROM
            GC_EVENT E
            LEFT JOIN GC_USER_EVENT UE ON UE.EVENT_ID = E.ID
            LEFT JOIN GC_USER_ANSWER UA ON UA.EVENT_ID = E.ID
            left join gc_video vo on vo.id = e.video_id
            where ue.master_id = #{masterId}
            <if test="videoIds != null and videoIds.size !=0">
                AND E.VIDEO_ID IN
                <foreach collection="videoIds" item="videoId"  open="(" separator="," close=")">
                    #{videoId}
                </foreach>
            </if>
            or (E.UPLOAD_TYPE != 2
        <if test="videoIds != null and videoIds.size !=0">
                and E.VIDEO_ID IN
            <foreach collection="videoIds" item="videoId"  open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
                )
        GROUP BY e.id,vo.sub_id
    </select>

    <select id="selectEventBySubjectIdUserIds" resultType="com.threeatom.guidecore.entity.GcEvent">
        select E.ID, E.VIDEO_ID , E.UPLOAD_TYPE, UA.ANSWER_JSON,ua.user_id
        from GC_SUBJECT s
        left join gc_subject s2 on s2.fid = s.id
        left join gc_video v on v.sub_id = s2.id
        left join gc_event e on e.video_id = v.id
        LEFT JOIN GC_USER_EVENT UE ON UE.EVENT_ID = E.ID
        LEFT JOIN GC_USER_ANSWER UA ON UA.EVENT_ID=E.ID and ua.user_id in
        <foreach collection="userList" item="user" open="(" separator="," close=")">
            #{user}
        </foreach>
        where s.id = #{subjectId}
        and e.id is not null
        and s.master_id = #{masterId}
    </select>

    <select id="selectEventByUserIdAndSubjectId" resultType="com.threeatom.guidecore.entity.GcEvent">
        select an.answer_json as answerJson,e.id as id,e.event_type,e.ext,e.video_id as videoId from
        gc_subject s
        left join gc_subject s2 on s2.fid = s.id
        left join gc_video v on s2.id = v.sub_id
        left join gc_event e on e.video_id = v.id
        left join gc_user_event ue on ue.event_id = e.id and ue.user_id = #{userId}
        left join gc_user_answer an on an.event_id = e.id and an.user_id = #{userId}
        where s.id = #{subjectId} and e.event_type!=4
        and s.master_id = #{masterId}
        and ((e.upload_type = 2 and ue.id is not null ) or(e.upload_type = 1 ))
        and e.id is not null
    </select>

</mapper>
