<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.GcUserSaveFolderMapper">

     <resultMap id="baseResultMap" type="GcUserSaveFolder">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="userId" column="user_id"/>
        <result property="state" column="state"/>
        <result property="fileId" column="file_id"/>
        <result property="masterId" column="master_id"/>
        <result property="updateTime" column="update_time"/>
		<result property="isPrivate" column="is_private"/>
        <result property="createTime" column="create_time"/>
        <result property="subscriptionTime" column="subscription_time"/>
		<result property="videoNum" column="videoNum"/>
		<result property="firstVideoFileId" column="firstVideoFileId"/>
		 <result property="videoSource" column="video_source"/>
		 <association property="user" column="user_id" javaType="GcUser">
			 <id property="id" column="u_id"/>
			 <result property="infoId" column="info_id"/>
			 <association property="info" column="id" javaType="GcUserInfo">
				 <id property="id" column="info_id"/>
				 <result property="lastName" column="lastName"/>
				 <result property="firstName" column="firstName"/>
				 <result property="avatarFileId" column="avatarFileId"/>
				 <result property="username" column="username"/>
				 <association property="avatarFile" column="avatarFile" javaType="SysFile">
					 <id property="id" column="u_f_id"/>
					 <result property="name" column="u_f_name"/>
					 <result property="fileUrl" column="u_f_file_url"/>
					 <result property="saveType" column="u_f_save_type"/>
				 </association>
			 </association>
		 </association>

            <collection property="saveContentList" javaType="ArrayList" column="folder_id" ofType="GcUserSaveContent">
				<id property="id" column="sc_id" />
				<result property="videoId" column="sc_video_id" />
				<result property="subId" column="sc_sub_id" />
				<result property="fileId" column="sc_file_id" />
				<result property="contentId" column="content_id" />
				<result property="createTime" column="sc_create_time" />
				<result property="updateTime" column="sc_update_time" />
			    <association property="subject" javaType="GcSubject" column="sub_id" >
					<result property="id" column="s_id" />
					<result property="name" column="s_name" />
					<result property="name" column="s_name_index" />
					<result property="description" column="s_description" />
					<result property="type" column="s_type" />
					<result property="subImgId" column="s_subImgId" />
					<result property="isPublic" column="s_isPublic" />
			        <association property="subImgFile" column="sub_img_id" javaType="SysFile">
			            <id property="id" column="fs_id"/>
			            <result property="name" column="fs_name"/>
			            <result property="fileUrl" column="fs_file_url"/>
			            <result property="saveType" column="fs_save_type"/>
			            <result property="fileTypeIndex" column="fs_file_type_index"/>
			        </association>
				</association>
		        <association property="video" column="video_id" javaType="GcVideo">
		            <id property="id" column="v_id"/>
		            <result property="videoName" column="v_video_name"/>
		            <result property="videoNameIndex" column="v_video_name_index"/>
		            <result property="fileId" column="v_file_id"/>
		            <result property="videoDesc" column="v_video_desc"/>
					<result property="videoSource" column="v_video_source"/>
					<result property="thumbnailUrl" column="v_thumbnail_url"/>
					<association property="originChannel" resultMap="channelResultMap" columnPrefix="channel_" />
					<association property="originCourse" resultMap="courseResultMap" columnPrefix="course_" />
		        </association>
				<association property="videoFile" column="file_id" javaType="SysFile">
					<id property="id" column="f_id"/>
					<result property="name" column="f_name"/>
					<result property="fileUrl" column="f_file_url"/>
					<result property="thumbNailUrl" column="f_thumb_nail_url"/>
					<result property="saveType" column="f_save_type"/>
					<result property="videoLong" column="f_video_long"/>
					<result property="fileTypeIndex" column="f_file_type_index"/>
				</association>
			</collection>
	 </resultMap>


	<resultMap id="channelResultMap" type="PtChannel" autoMapping="true">
		<result property="visibleFlag" column="visible_flag"/>
	</resultMap>

	<resultMap id="courseResultMap" type="GcSubject" autoMapping="true" >
		<result property="availableType" column="available_type"/>
		<result property="state" column="state"/>
	</resultMap>


	<sql id="userColumn">
		,u.id as u_id, u.info_id as info_id, info.last_name as lastName, info.first_name as firstName, info.avatar_file_id as avatarFileId,
		    uf.id as u_f_id, uf.name as u_f_name, uf.file_url as u_f_file_url, uf.save_type as u_f_save_type,u.username
	</sql>

    <sql id="baseColumn">
	    sf.id as id, sf.name , sf.user_id , sf.state , sf.file_id , sf.master_id, sf.update_time , sf.create_time,sf.is_private
    </sql>

    <sql id="videoFileColumn">
		,f.id as f_id, f.name as f_name, f.file_url as f_file_url, f.save_type as f_save_type, f.file_type_index as f_file_type_index
		,f.video_long as f_video_long, f.thumb_nail_url as f_thumb_nail_url
    </sql>

    <sql id="subjectFileColumn">
        ,fs.id as fs_id, fs.name as fs_name, fs.file_url as fs_file_url, fs.save_type as fs_save_type, fs.file_type_index as fs_file_type_index
    </sql>

	<select id="selectFolderForUserMaster" resultMap="baseResultMap">
		SELECT DISTINCT ON (sf.id)
		<include refid="baseColumn" />
		,sc.id as sc_id, v.id as sc_video_id, sc.sub_id as sc_sub_id, sc.content_id,
		v.id as v_id, v.video_name as v_video_name, v.video_name_index as v_video_name_index,  v.file_id as v_file_id,
		v.video_source as video_source,
		s.id as s_id, s.name as s_name, s.name_index as s_name_index, s.description as s_description, s.sub_img_id as s_sub_img_id
		<include refid="userColumn"/>
		<include refid="videoFileColumn" />
		<include refid="subjectFileColumn" /> ,
		COALESCE((select count(id) from gc_user_save_content where folder_id=sf.id and master_id=#{masterId}),0) as videoNum,
		(select gv.file_id from gc_user_save_content sc
		join pt_channel_content pcc on pcc.content_id = sc.content_id
		join gc_video gv on gv.id = pcc.content_id
		where sc.folder_id=sf.id and sc.master_id=#{masterId}
		order by sc.create_time asc limit 1) as firstVideoFileId,
		s.state as course_state, s.available_type as course_available_type
		from gc_user_save_folder sf
		left join gc_user_save_content sc on sc.folder_id = sf.id
		<if test="userId!=null and playListName==null">
			AND (sc.user_id=#{userId})
		</if>
		<if test="userId!=null and playListName!=null">
			AND (sc.user_id=#{userId} or not sf.is_private)
		</if>
		left join gc_video v on v.id = sc.content_id AND v.id IN (SELECT content_id FROM course_content)
		left join gc_subject s on s.id= v.origin_course_id
		left join sys_file fs on s.sub_img_id=fs.id
		left join sys_file f on v.file_id=f.id
		left join gc_user u on u.id = sf.user_id
		left join gc_user_info info on info.id = u.info_id
		left join sys_file uf on info.avatar_file_id = uf.id
		where 1=1
		<if test="userId!=null and playListName==null">
			AND sf.user_id=#{userId}
		</if>
		<if test="playListName!=null">
			and sf.name like CONCAT('%',#{playListName},'%')
		</if>
		and (not sf.is_private or sf.user_id=#{userId}) <!-- 1为私有 -->
		and
		sf.master_id=#{masterId}
		<if test="folderIdList!=null and folderIdList.size !=0">
			AND sf.id in
			<foreach item="folderId" index="index" collection="folderIdList"  open="(" separator="," close=")">
				#{folderId}
			</foreach>
		</if>
		<if test="myFolderIdList!=null and myFolderIdList.size !=0">
			AND sf.id not in
			<foreach item="myFolderId" index="index" collection="myFolderIdList"  open="(" separator="," close=")">
				#{myFolderId}
			</foreach>
		</if>
		order by
		sf.id DESC,
		sf.create_time DESC,
		sc.create_time DESC
	</select>

	<select id="getPtNewHomePlayList" resultMap="baseResultMap">
		SELECT DISTINCT ON (sf.id)
		<include refid="baseColumn"/>
		,sc.id as sc_id, v.id as sc_video_id, sc.sub_id as sc_sub_id, sc.content_id,
		v.id as v_id, v.video_name as v_video_name, v.video_name_index as v_video_name_index, v.file_id as v_file_id,
		v.video_source as video_source,
		s.id as s_id, s.name as s_name, s.name_index as s_name_index, s.description as s_description, s.sub_img_id as
		s_sub_img_id, s.state as course_state, s.available_type as course_available_type
		<include refid="userColumn"/>
		<include refid="videoFileColumn"/>
		<include refid="subjectFileColumn"/>
		,
		COALESCE((select count(id) from gc_user_save_content where folder_id=sf.id and master_id=#{masterId}),0) as
		videoNum,
		(select gv.file_id from gc_user_save_content sc
		join pt_channel_content pcc on pcc.content_id = sc.content_id
		join gc_video gv on gv.id = pcc.content_id
		where sc.folder_id=sf.id and sc.master_id=#{masterId}
		order by sc.create_time asc limit 1) as firstVideoFileId
		from gc_user_save_folder sf
		left join gc_user_save_content sc on sc.folder_id = sf.id
		left join gc_video v on v.id = sc.content_id AND v.id IN (SELECT content_id FROM course_content)
		left join gc_subject s on s.id= v.origin_course_id
		left join sys_file fs on s.sub_img_id=fs.id
		left join sys_file f on v.file_id=f.id
		left join gc_user u on u.id = sf.user_id
		left join gc_user_info info on info.id = u.info_id
		left join sys_file uf on info.avatar_file_id = uf.id
		where 1=1
		<if test="userId!=null">
			AND sf.user_id !=#{userId}
		</if>
		and (not sf.is_private) <!-- 1为私有 -->
		and
		sf.master_id=#{masterId}
		<if test="folderIdList!=null and folderIdList.size !=0">
			AND sf.id in
			<foreach item="folderId" index="index" collection="folderIdList" open="(" separator="," close=")">
				#{folderId}
			</foreach>
		</if>
		<if test="myFolderIdList!=null and myFolderIdList.size !=0">
			AND sf.id not in
			<foreach item="myFolderId" index="index" collection="myFolderIdList" open="(" separator="," close=")">
				#{myFolderId}
			</foreach>
		</if>
		order by
		sf.id DESC,
		sf.create_time DESC,
		sc.create_time DESC
	</select>

    <select id="selectFolderByIdsAndUser" resultType="java.lang.Integer">
		select count(1) from gc_user_save_folder
		where 1=1
		<if test="folderIds != null and folderIds.size !=0">
		and id in
		<foreach item="folderId" index="index" collection="folderIds"  open="(" separator="," close=")">
			#{folderId}
		</foreach>
		</if>
		and user_id = #{userId}
	</select>

	<select id="getPlayListMetaConfig" resultMap="baseResultMap">
		SELECT
			playlist.name,
			playlist_content.file_id as sc_file_id,
			GREATEST(playlist.update_time, playlist_content.update_time) AS update_time,
			playlist_content.video_id as sc_video_id,
			playlist_content.content_id as content_id
		from gc_user_save_folder playlist
			LEFT JOIN gc_user_save_content playlist_content on playlist.id=playlist_content.folder_id
		WHERE playlist.id = #{folderId}
		ORDER BY ABS(EXTRACT(EPOCH FROM (playlist.update_time - playlist_content.update_time)))  desc
		LIMIT 1
	</select>

	<select id="getPlaylistCountAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
		SELECT time_bucket, COUNT(playlist.id) AS value
		FROM gc_user_save_folder playlist
			RIGHT JOIN generate_series(#{filter.start}, #{filter.end}, concat(#{filter.step}, ' second')::interval) AS time_bucket
				ON playlist.create_time >= time_bucket
					   AND playlist.master_id = #{masterId}
					   AND playlist.create_time &lt; time_bucket + concat(#{filter.step}, ' second')::interval
		GROUP BY time_bucket
		ORDER BY time_bucket
	</select>

	<select id="ownedPlaylists" parameterType="map" resultMap="baseResultMap">
		SELECT playlist.id, playlist.name, playlist.is_private, playlist.user_id, playlist.master_id, playlist.create_time, playlist.update_time,
			   content.id as sc_id, content.content_id, content.create_time as sc_create_time, content.update_time as sc_update_time,
			   playlist_follow.update_time as subscription_time,
			   video.id as v_id, video.video_name as v_video_name
		   	   <include refid="userColumn"/>
		       <include refid="videoFileColumn"/>
		FROM gc_user_save_folder playlist
		JOIN gc_user u ON u.id = playlist.user_id
		JOIN gc_user_info info ON info.id = u.info_id
		LEFT JOIN sys_file uf ON uf.id = info.avatar_file_id
		LEFT JOIN gc_user_save_content_follow playlist_follow ON playlist_follow.folder_id = playlist.id AND playlist_follow.user_id = #{portalUser.userId}
		LEFT JOIN gc_user_save_content content ON content.folder_id = playlist.id
				 LEFT JOIN gc_video video ON video.id = content.content_id
				 LEFT JOIN sys_file f ON f.id = video.file_id
		WHERE playlist.user_id = #{portalUser.userId} AND playlist.master_id = #{portalUser.masterId}
		ORDER BY playlist.update_time DESC;
	</select>

	<select id="subscribedPlaylists" parameterType="map" resultMap="baseResultMap">
		SELECT playlist.id, playlist.name, playlist.is_private, playlist.user_id, playlist.master_id, playlist.create_time, playlist.update_time,
			   content.id as sc_id, content.content_id, content.create_time as sc_create_time, content.update_time as sc_update_time,
			   video.id as v_id, video.video_name as v_video_name,
			   playlist_follow.update_time as subscription_time
			   <include refid="userColumn"/>
			   <include refid="videoFileColumn"/>
		FROM gc_user_save_content_follow playlist_follow
				 JOIN gc_user_save_folder playlist ON playlist.id = playlist_follow.folder_id AND playlist.master_id = #{portalUser.masterId} AND playlist.is_private = false
				 JOIN gc_user u ON u.id = playlist.user_id
		    	 JOIN gc_user_info info ON info.id = u.info_id
		    	 LEFT JOIN sys_file uf ON uf.id = info.avatar_file_id
				 LEFT JOIN gc_user_save_content content ON content.folder_id = playlist.id
				 LEFT JOIN gc_video video ON video.id = content.content_id
				 LEFT JOIN sys_file f ON f.id = video.file_id
		WHERE playlist_follow.user_id = #{portalUser.userId}
		ORDER BY playlist.update_time;
	</select>

	<select id="paginatedDiscoverablePlaylists" parameterType="map" resultMap="baseResultMap">
		SELECT playlist.id, playlist.name, playlist.is_private, playlist.user_id, playlist.master_id, playlist.create_time, playlist.update_time,
			   content.id as sc_id, content.content_id, content.create_time as sc_create_time, content.update_time as sc_update_time,
			   video.id as v_id, video.video_name as v_video_name,
			   playlist_follow.update_time as subscription_time
			   <include refid="userColumn"/>
		       <include refid="videoFileColumn"/>
		FROM gc_user_save_folder playlist
				 JOIN gc_user u ON u.id = playlist.user_id
				 JOIN gc_user_info info ON info.id = u.info_id
				 LEFT JOIN sys_file uf ON uf.id = info.avatar_file_id
				 LEFT JOIN gc_user_save_content_follow playlist_follow ON playlist_follow.folder_id = playlist.id AND playlist_follow.user_id = #{portalUser.userId}
				 LEFT JOIN gc_user_save_content content ON content.folder_id = playlist.id
				 LEFT JOIN gc_video video ON video.id = content.content_id
				 LEFT JOIN sys_file f ON f.id = video.file_id
		WHERE playlist_follow.id IS NULL AND playlist.master_id = #{portalUser.masterId} AND playlist.is_private = false AND playlist.user_id != #{portalUser.userId}
		  	AND (playlist.update_time &lt; #{cursor.updateTime}
		  	         OR (playlist.update_time = #{cursor.updateTime} AND playlist.id &lt; #{cursor.id}))
		ORDER BY playlist.update_time DESC, playlist.id DESC;
	</select>

	<select id="discoverablePlaylists" parameterType="map" resultMap="baseResultMap">
		SELECT playlist.id, playlist.name, playlist.is_private, playlist.user_id, playlist.master_id, playlist.create_time, playlist.update_time,
			   content.id as sc_id, content.content_id, content.create_time as sc_create_time, content.update_time as sc_update_time,
			   video.id as v_id, video.video_name as v_video_name,
			   playlist_follow.update_time as subscription_time
			   <include refid="userColumn"/>
		       <include refid="videoFileColumn"/>
		FROM gc_user_save_folder playlist
				 JOIN gc_user u ON u.id = playlist.user_id
				 JOIN gc_user_info info ON info.id = u.info_id
				 LEFT JOIN sys_file uf ON uf.id = info.avatar_file_id
				 LEFT JOIN gc_user_save_content_follow playlist_follow ON playlist_follow.folder_id = playlist.id AND playlist_follow.user_id = #{userId}
				 LEFT JOIN gc_user_save_content content ON content.folder_id = playlist.id
				 LEFT JOIN gc_video video ON video.id = content.content_id
				 LEFT JOIN sys_file f ON f.id = video.file_id
		WHERE playlist_follow.id IS NULL AND playlist.master_id = #{masterId} AND playlist.is_private = false AND playlist.user_id != #{userId}
		ORDER BY playlist.update_time DESC, playlist.id DESC;
	</select>

	<select id="searchPlaylists" resultMap="baseResultMap">
		SELECT playlist.id, playlist.name, playlist.is_private, playlist.user_id, playlist.master_id, playlist.create_time, playlist.update_time,
			content.id as sc_id, content.content_id, content.create_time as sc_create_time, content.update_time as sc_update_time,
			video.id as v_id, video.video_name as v_video_name,
			playlist_follow.update_time as subscription_time,
			course.state as course_state, course.available_type as course_available_type, channel.visible_flag as channel_visible_flag
			<include refid="userColumn"/>
			<include refid="videoFileColumn"/>
		FROM gc_user_save_folder playlist
			JOIN gc_user u ON u.id = playlist.user_id
			JOIN gc_user_info info ON info.id = u.info_id
			LEFT JOIN sys_file uf ON uf.id = info.avatar_file_id
			LEFT JOIN gc_user_save_content_follow playlist_follow ON playlist_follow.folder_id = playlist.id AND playlist_follow.user_id = #{userId}
			LEFT JOIN gc_user_save_content content ON content.folder_id = playlist.id
			LEFT JOIN gc_video video ON video.id = content.content_id
			LEFT JOIN sys_file f ON f.id = video.file_id
			LEFT JOIN pt_channel channel ON video.origin_channel_id = channel.id
			LEFT JOIN gc_subject course ON video.origin_course_id = course.id
		WHERE playlist.master_id = #{masterId}
		  AND (playlist.is_private = false OR playlist.user_id = #{userId})
		  AND playlist.name ilike concat('%', #{searchName}, '%')
	</select>

	<select id="countDiscoverablePlaylists" parameterType="map" resultType="Integer">
		SELECT count(1)
		FROM gc_user_save_folder playlist
		    LEFT JOIN gc_user_save_content_follow playlist_follow ON playlist_follow.folder_id = playlist.id AND playlist_follow.user_id = #{portalUser.userId}
		WHERE playlist_follow.id IS NULL AND playlist.master_id = #{portalUser.masterId} AND playlist.is_private = false AND playlist.user_id != #{portalUser.userId}
	</select>

</mapper>
