<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.PtTagsMapper">

    <select id="selectPtTagList" resultType="java.lang.String">
        select tag_text from pt_tags where
        1=1
        <if test="ptTags.masterId != null">
            and master_id = #{ptTags.masterId}
        </if>
        <if test="ptTags.subjectId != null">
            and subject_id = #{ptTags.subjectId}
        </if>
        <if test="ptTags.tagText !=null and ptTags.tagText !=''">
            and tag_text like concat('%',#{ptTags.tagText},'%')
        </if>
        <if test="ptTags.type != null">
            and "type" = #{ptTags.type}
        </if>
        <if test="ptTags.videoId != null">
            and video_id = #{ptTags.videoId}
        </if>
        <if test="ptTags.resourceId != null">
            and resource_id = #{ptTags.resourceId}
        </if>
        <if test="ptTags.channelId != null">
            and channel_id = #{ptTags.channelId}
        </if>
        <if test="ptTags.fileId != null">
            and file_id = #{ptTags.fileId}
        </if>
        group by tag_text, create_time
        order by create_time desc
    </select>
</mapper>