<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.threeatom.guidecore.mapper.VideoPlaySegmentMapper">

    <resultMap id="baseResultMap" type="VideoPlaySegment">
        <id property="id.segmentId" column="segment_id"/>
        <id property="id.sessionId" column="session_id" javaType="java.util.UUID" />
        <result property="startWatchTimeInSeconds" column="start_watch_time_in_seconds"/>
        <result property="endWatchTimeInSeconds" column="end_watch_time_in_seconds"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <association property="session" resultMap="playSessionResultMap" columnPrefix="session_" />
    </resultMap>

    <resultMap id="playSessionResultMap" type="com.threeatom.guidecore.entity.VideoPlaySession">
        <id property="id" column="id" javaType="java.util.UUID" />
        <result property="userId" column="user_id" />
        <result property="videoId" column="video_id" />
        <result property="masterId" column="master_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="playSegmentColumns">
        play_segment.segment_id, play_segment.session_id,
        lower(play_segment.segment) as start_watch_time_in_seconds,
        upper(play_segment.segment) as end_watch_time_in_seconds,
        play_segment.create_time, play_segment.update_time
    </sql>

    <sql id="playSessionColumns">
        play_session.id as session_id, play_session.user_id as session_user_id, play_session.video_id as session_video_id,
        play_session.master_id as session_master_id, play_session.create_time as session_create_time, play_session.update_time as session_update_time
    </sql>

    <insert id="saveOrUpdateSegment" parameterType="VideoPlaySegment">
        INSERT INTO video_play_segment (segment_id, session_id, segment, create_time, update_time)
        VALUES (#{id.segmentId}, #{id.sessionId}, int4range(#{startWatchTimeInSeconds}, #{endWatchTimeInSeconds}), #{createTime}, #{updateTime})
        ON CONFLICT (session_id, segment_id)
        DO UPDATE SET segment = int4range(lower(video_play_segment.segment), #{endWatchTimeInSeconds}), update_time = #{updateTime}
            WHERE NOT video_play_segment.segment @> int4range(#{startWatchTimeInSeconds}, #{endWatchTimeInSeconds});
    </insert>

    <select id="getVideoWatchingTimeAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket, SUM(upper(segment) - lower(segment)) AS value
        FROM video_play_segment play_segment
            JOIN video_play_session play_session
                ON play_session.id = play_segment.session_id AND play_session.master_id = #{masterId}
                    <if test="!filter.videoIds.empty">
                        AND play_session.video_id IN
                        <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                            #{videoId}
                        </foreach>
                    </if>
                <if test="!filter.contentGroupIds.empty">
                    JOIN gc_video video ON play_session.video_id = video.id
                    JOIN sys_file video_file ON video.file_id = video_file.id
                    JOIN gc_user_access user_content_group ON user_content_group.user_id = video_file.upload_uid AND user_content_group.master_id = #{masterId}
                        AND user_content_group.access_id IN
                        <foreach item="contentGroupId" collection="filter.contentGroupIds" open="(" separator="," close=")">
                            #{contentGroupId}
                        </foreach>
                </if>
            RIGHT JOIN generate_series(#{filter.start}, #{filter.end}, concat(#{filter.step}, ' second')::interval) AS time_bucket
                ON play_segment.update_time >= time_bucket AND play_segment.update_time &lt; time_bucket + concat(#{filter.step}, ' second')::interval
        GROUP BY time_bucket
        ORDER BY time_bucket;
    </select>

    <select id="getVideoWatchingTimeByVideoAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultVideoIdDto">
        SELECT video.id AS videoId, SUM(upper(play_segement.segment) - lower(play_segement.segment)) AS value
        FROM gc_video video
            LEFT JOIN video_play_session play_session ON play_session.video_id = video.id
                AND play_session.create_time >= #{filter.start}
                AND play_session.create_time &lt; #{filter.end}
                AND play_session.master_id = #{masterId}
            LEFT JOIN video_play_segment play_segement ON play_segement.session_id = play_session.id
        <if test="!filter.videoIds.empty">
            WHERE video.id IN
            <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
        GROUP BY video.id;
    </select>

    <select id="getAverageVideoWatchingTimeAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket, SUM(upper(play_segment.segment) - lower(play_segment.segment)) / COUNT(play_session.id)::double precision AS value
        FROM video_play_segment play_segment
            JOIN video_play_session play_session
                ON play_session.id = play_segment.session_id AND play_session.master_id = #{masterId}
                    <if test="!filter.videoIds.empty">
                        AND play_session.video_id IN
                        <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                            #{videoId}
                        </foreach>
                    </if>
            <if test="!filter.contentGroupIds.empty">
                JOIN gc_video video ON play_session.video_id = video.id
                JOIN sys_file video_file ON video.file_id = video_file.id
                JOIN gc_user_access user_content_group ON user_content_group.user_id = video_file.upload_uid AND user_content_group.master_id = #{masterId}
                AND user_content_group.access_id IN
                <foreach item="contentGroupId" collection="filter.contentGroupIds" open="(" separator="," close=")">
                    #{contentGroupId}
                </foreach>
            </if>
            RIGHT JOIN generate_series(#{filter.start}, #{filter.end}, concat(#{filter.step}, ' second')::interval) AS time_bucket
                    ON play_session.update_time >= time_bucket AND play_session.update_time &lt; time_bucket + concat(#{filter.step}, ' second')::interval
        GROUP BY time_bucket
        ORDER BY time_bucket;
    </select>

    <select id="getDropOffRateAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket, AVG(ratio) AS value
        FROM (
            SELECT time_bucket,
                CASE
                    WHEN COUNT(engagement_rate) OVER (PARTITION BY time_bucket) = 0 THEN 0
                    ELSE COUNT(engagement_rate) FILTER (WHERE engagement_rate &lt; #{dropOffThreshold} AND engagement_rate != 0.0) OVER (PARTITION BY time_bucket) / COUNT(engagement_rate) OVER (PARTITION BY time_bucket)::double precision
                END AS ratio
            FROM (
                SELECT time_bucket,
                    SUM(upper(segment) - LOWER(segment)) / SUM(video_time)::double precision AS engagement_rate
                FROM video_play_segment play_segment
                    JOIN video_play_session play_session
                        ON play_session.id = play_segment.session_id AND play_session.master_id = #{masterId}
                    JOIN gc_video video ON play_session.video_id = video.id AND video.video_time != 0
                        <if test="!filter.videoIds.empty">
                            AND video.id IN
                            <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                                #{videoId}
                            </foreach>
                        </if>
                    <if test="!filter.contentGroupIds.empty">
                        JOIN sys_file video_file ON video.file_id = video_file.id
                        JOIN gc_user_access user_content_group ON user_content_group.user_id = video_file.upload_uid AND user_content_group.master_id = #{masterId}
                        AND user_content_group.access_id IN
                        <foreach item="contentGroupId" collection="filter.contentGroupIds" open="(" separator="," close=")">
                            #{contentGroupId}
                        </foreach>
                    </if>
                    RIGHT JOIN generate_series(#{filter.start}, #{filter.end}, concat(#{filter.step}, ' second')::interval) AS time_bucket
                        ON play_session.update_time >= time_bucket AND play_session.update_time &lt; time_bucket + concat(#{filter.step}, ' second')::interval
                GROUP BY time_bucket, play_segment.session_id
                ORDER BY time_bucket
            ) AS engagement
        ) AS drop_off
        GROUP BY time_bucket
        ORDER BY time_bucket;
    </select>

    <select id="getDropOffRateByVideoAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultVideoIdDto">
        SELECT videoId AS videoId, AVG(ratio) AS value
        FROM (
            SELECT engagement.videoId as videoId,
                CASE
                    WHEN COUNT(engagement_rate) OVER (PARTITION BY engagement.videoId) = 0 THEN 0
                    ELSE COUNT(engagement_rate) FILTER (WHERE engagement_rate &lt; #{dropOffThreshold} AND engagement_rate != 0.0) OVER (PARTITION BY engagement.videoId) / COUNT(engagement_rate) OVER (PARTITION BY engagement.videoId)::double precision
                END AS ratio
            FROM (
                SELECT video.id as videoId,
                    SUM(upper(segment) - LOWER(segment)) / SUM(video.video_time)::double precision AS engagement_rate
                FROM gc_video video
                    LEFT JOIN video_play_session play_session ON play_session.video_id = video.id
                        AND play_session.create_time >= #{filter.start}
                        AND play_session.create_time &lt; #{filter.end}
                        AND play_session.master_id = #{masterId}
                    LEFT JOIN video_play_segment play_segement ON play_segement.session_id = play_session.id
                WHERE video.video_time != 0
                <if test="!filter.videoIds.empty">
                    AND video.id IN
                    <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                        #{videoId}
                    </foreach>
                </if>
                GROUP BY video.id
        ) AS engagement
        ) AS drop_off
        GROUP BY drop_off.videoId;
    </select>

    <select id="getEngagementRateAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultDto">
        SELECT time_bucket,
            SUM(upper(segment) - LOWER(segment)) / SUM(video_time)::double precision AS value
        FROM video_play_segment play_segment
            JOIN video_play_session play_session
                ON play_session.id = play_segment.session_id AND play_session.master_id = #{masterId}
            JOIN gc_video video ON play_session.video_id = video.id AND video.video_time != 0
                <if test="!filter.videoIds.empty">
                    AND video.id IN
                    <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                        #{videoId}
                    </foreach>
                </if>
            <if test="!filter.contentGroupIds.empty">
                JOIN sys_file video_file ON video.file_id = video_file.id
                JOIN gc_user_access user_content_group ON user_content_group.user_id = video_file.upload_uid AND user_content_group.master_id = #{masterId}
                AND user_content_group.access_id IN
                <foreach item="contentGroupId" collection="filter.contentGroupIds" open="(" separator="," close=")">
                    #{contentGroupId}
                </foreach>
            </if>

            RIGHT JOIN generate_series(#{filter.start}, #{filter.end}, concat(#{filter.step}, ' second')::interval) AS time_bucket
                    ON play_segment.update_time >= time_bucket AND play_segment.update_time &lt; time_bucket + concat(#{filter.step}, ' second')::interval
        GROUP BY time_bucket
        ORDER BY time_bucket;
    </select>

    <select id="getEngagementRateByVideoAnalytics" parameterType="map"
            resultType="com.threeatom.guidecore.dto.DbAnalyticsResultVideoIdDto">
        SELECT video.id AS videoId,
            SUM(upper(segment) - LOWER(segment)) / SUM(video.video_time)::double precision AS value
        FROM gc_video video
            LEFT JOIN video_play_session play_session ON play_session.video_id = video.id
                AND play_session.create_time >= #{filter.start}
                AND play_session.create_time &lt; #{filter.end}
                AND play_session.master_id = #{masterId}
            LEFT JOIN video_play_segment play_segement ON play_segement.session_id = play_session.id
        WHERE video.video_time != 0
        <if test="!filter.videoIds.empty">
            AND video.id IN
            <foreach item="videoId" collection="filter.videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
        </if>
        GROUP BY video.id;
    </select>

    <select id="videoViewsPerSecondAnalytics" parameterType="map" resultType="com.threeatom.guidecore.dto.DbAnalyticsResultViewPerSecondDto">
        WITH buckets AS (
            SELECT
                generate_series(0, video_time, #{filter.step}::int4) AS bucket_start,
                LEAST(generate_series(#{filter.step}, video_time + #{filter.step}, #{filter.step}), video_time)::int4 AS bucket_end
            FROM gc_video
            WHERE id = #{filter.videoId}
        )
        SELECT
            ROUND((b.bucket_start + b.bucket_end) / 2.0, 1) as second,
            count(view_segment.segment_id) as value
        FROM buckets b
            LEFT JOIN video_play_session video_session ON video_session.video_id = #{filter.videoId}
                AND video_session.create_time >= #{filter.start} AND video_session.create_time &lt; #{filter.end}
            LEFT JOIN video_play_segment view_segment ON view_segment.session_id = video_session.id
                                                             AND int4range(b.bucket_start, b.bucket_end) &amp;&amp; view_segment.segment
        WHERE b.bucket_start != b.bucket_end
        GROUP BY
            b.bucket_start,
            b.bucket_end
        ORDER BY
            b.bucket_start;
    </select>

    <select id="findLatestPlaySegment" resultMap="baseResultMap">
        SELECT <include refid="playSegmentColumns" />,
            <include refid="playSessionColumns" />
        FROM video_play_segment play_segment
            JOIN video_play_session play_session ON play_session.id = play_segment.session_id
        WHERE play_session.video_id IN
            <foreach item="videoId" collection="videoIds" open="(" separator="," close=")">
                #{videoId}
            </foreach>
            AND play_session.create_time >= #{startDate}
        ORDER BY play_segment.update_time DESC
        LIMIT 1
    </select>
</mapper>
